---
title: {{ title }}
layout: 'base.njk'
---

<main>
  <section class="blog-single-hero" style=" background-image: url({{ image }}) ">
    <h1 class="head_text"> 
      {{ title }}
     </h1>
    <h2 class="subhead_text">{{ author }}</h2>
    <div class="blog-hashtags">
      {% set comma = joiner() %}
      {% for tag in tags -%}
        {% if tag !== 'post' %}
          {{ comma() }}
          <a href="#">#{{ tag }}</a>
        {% endif %}
      {%- endfor %}
    </div>
    <p style="margin-top: 20px;" class="rainbow">{{ date | postDate }}</p>
  </section>

  <div class="blog-indicator"> 

  </div>

  <section class="blog-single-container container">
  
    <div class="blog-social-share">
     
      <div class="share-btn-group">
        <a href="#" onclick="shareonfb()" > <img class="long-shadow"
            src="/img/facebook.svg" loading="lazy" alt="facebook"> </a>
        <a href="#" onclick="shareontwitter()" > <img class="long-shadow" src="/img/Vector-3.svg"
            loading="lazy" alt="twitter"> </a>
        <a href="#" onclick="shareonlinkedin()" > <img class="long-shadow" src="/img/Vector.svg"
            loading="lazy" alt="linkedin"> </a>
        <a href="#" onclick="shareonpinterest()" > <img class="long-shadow" src="/img/pinterest.svg"
            loading="lazy" alt="pinterest"> </a>
      </div>
    
    </div>

    <div class="blog-single-content">
      
      {{ content | safe }}

    </div>
  </section>
</main>
