{% include "header.njk" %}

  {# {% include "preloader.njk" %} #}

	{{ content | safe }}

  {% include "latest-blog-strip.njk" %}

  {% include "greeting.njk" %}
  {% include "theme-toggle.njk" %}
  

{% include "footer.njk" %}
  
