<footer>

  <div class="footer-content">

    <p style="margin-bottom: 20px;">Made  with ❤ using <img style="display: inline-block; max-width: 1rem;" src="./img/tech/image%2019.png" alt="eleventy"> </p>

    <p>Copyright @2021 <span class="highlight">singhkunal2050</span></p>

  </div>

</footer>