<article class="greeting">
  <div>
    <img src={{"/img/omg.gif" | url}} loading="lazy" width="400px" alt="Oh My Gawwdd!!!!!!!">
    <h1>Wow you have been viewing my site since 20 seconds!</h1>
  </div>
  <div class="close">+</div>
</article>