<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <!-- slick  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <!-- navbar  -->

  <nav>
    <div class="container">

      <div class="logo">
        <img src="./img/singhkunal2050.svg" alt="singhkunal2050">
      </div>

      <div class="menu">
        <p>Home</p>
        <p>About</p>
        <p>Blogs</p>
        <p>Contact</p>
      </div>

      <div class="hamburger">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
      </div>

    </div>

  </nav>