<div class="theme-toggler">
  <button class="toggle-btn">
    🎨     
  </button>
</div>
<div class="theme-selector-container ">
  <div class="close-theme-selector">+</div>

  <section class="color-schemes">

    <div id="default" class="theme-pallete-wrapper">
      <div>
        <span></span>
        <span></span>
      </div>
      <button class="set-theme btn btn-primary" >Select Theme</button>
    </div>

    <div id="light-theme" class="theme-pallete-wrapper">
      <div>
        <span></span>
        <span></span>
      </div>
    <button class="set-theme btn btn-primary">Select Theme</button>
    </div>

    <div id="monochrome-theme" class="theme-pallete-wrapper">
      <div>
        <span></span>
        <span></span>
      </div>
    <button class="set-theme btn btn-primary">Select Theme</button>
    </div>


    {# <div id="highcontrast-theme" class="theme-pallete-wrapper">
      <div>
        <span></span>
        <span></span>
      </div>
    <button class="set-theme btn btn-primary">Select Theme</button>
    </div> #}

  </section>

</div>