@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

$background: #0C1118;
$dark2: #171d25b6;
$primary-color: #F07B3F;
$secondary-color: #FFD460;
$font-col1  :#fffaf5;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

html{
  overflow-x: hidden;
}

body{
  background: $background;
}

p , span , a , li {
  color: $font-col1;
} 

h1, h2 , h3 , h4 , h5{
  font-weight: 700; 
  color: $font-col1;
}

.container{
  width:100vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

section{
  padding: 60px 0;
}

nav{

  position: sticky;
  top: 0;
  border-bottom: 1px solid $primary-color ;

  & > div{
    background-color: $dark2;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px !important;

    & .logo {
      display: flex;
      width: 15rem;

      & img{
        max-width: 100%;
      }
    }
  
    & .menu{
      display: flex;
      align-items: center;
  
  
      p{
        padding: 10px;
        margin: 0 10px;
      }
  
    }
  }
}





footer{
  background: $dark2;
  padding: 40px 20px !important;
  position: sticky;
  bottom: 0;

  & .footer-content{
    & p {
      & .highlight{
        color: $primary-color;
      }
    }
  }

}