// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Josefin Sans';
  src:  url('/fonts/static/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src:  url('../fonts/static/JosefinSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

*{
  transition: background 500ms ease ,  color 500ms ease;
}

// @font-face {
//   font-family: 'Josefin Sans';
//   src:  url('../fonts/static/JosefinSans-Bold.ttf') format('truetype');
//   font-weight: 800;
//   font-display: swap;
// }

.default , #default{
  --background: hsl(215, 33%, 7%);
  --dark2: hsla(214, 23%, 12%, 0.714);
  --background-light: hsl(215, 33%, 10%);
  --background-o-500: hsla(215, 33%, 7%, 0.527);
  --primary-color: hsl(20, 86%, 59%);
  --primary-color-800:hsl(20, 86%, 18%);
  --primary-color-500:hsl(20, 86%, 53%);
  --primary-color-300:hsl(34, 86%, 59%);
  --secondary-color: hsl(44, 100%, 69%);
  --secondary-color-o-100: hsla(44, 100%, 69%, 0.157);
  --font-col1 :hsl(30, 100%, 98%);
  --font-col1-o-100 :hsla(30, 100%, 98%, 0.15);
  --head-color: hsl(20, 86%, 79%);
  --card-hover:hsl(215, 33%, 9%);
  --code-block:hsl(215, 33%, 17%);
  --blog-hover:hsl(215, 33%, 12%);
  --hightlight:black;
}

.light-theme , #light-theme{
  --background:hsl(0, 100%, 98%);
  --dark2: hsl(254, 100%, 97%);
  --background-light: hsl(0, 67%, 98%);
  --background-o-500: hsla(0, 100%, 98%, 0.507);
  --primary-color: hsl(261, 58%, 38%);
  --primary-color-800:hsl(261, 58%, 18%);
  --primary-color-500:hsl(261, 58%, 34%);
  --primary-color-300:hsl(261, 100%, 69%);
  --secondary-color: hsl(268, 86%, 59%);
  --secondary-color-o-100: hsla(268, 86%, 59%, 0.152);
  --font-col1 : hsl(215, 43%, 13%);
  --font-col1-o-100 :hsla(214, 42%, 13%, 0.15);
  --head-color:hsl(261, 58%, 18%);
  --card-hover:hsl(0, 100%, 95%);
  --code-block:hsl(0, 100%, 90%);
  --blog-hover:hsl(0, 100%, 94%);
  --hightlight:white;
}


.monochrome-theme , #monochrome-theme {
  --background: #efefef;
  --dark2:  default;
  --background-light:  default;
  --background-o-500:  #efefefa8;
  --primary-color:  #333333;
  --primary-color-800: rgb(44, 44, 44);
  --primary-color-500: rgb(44, 44, 44);
  --primary-color-300: default;
  --secondary-color:  white;
  --secondary-color-o-100:  default;
  --font-col1 :  rgb(36, 36, 36);
  --font-col1-o-100 : rgba(36, 36, 36, 0.329);
  --head-color: default;
  --card-hover: default;
  --code-block: default;
  --blog-hover: default;
  --hightlight:default;
}

// document.querySelector(':root').style.setProperty('--primary-color', 'red')

// breakpoints 

$xs:320px;
$sm:480px;
$md:768px;
$lm:888px;
$lg:992px;
$xl:1200px;
$xxl:1400px;

:root{
  --xs:320px;
  --sm:480px;
  --md:768px;
  --lm:888px;
  --lg:992px;
  --xl:1200px;
  --xxl:1400px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  // transition: 250ms ease-in-out;
}

// globals

html{
  scroll-behavior: smooth;
}

// near edges cursor issue needs to bn solved
body {
  overflow-x: hidden;
  background: var(--background);
  cursor: url('../img/cursor1.png') , auto;
}

main{
  min-height: 80vh;
  padding-top: 80px;
}

button:hover , a:hover {
  cursor: url('../img/cursor2.png') , pointer!important;
}

section {
  // min-height: 80vh;
  padding: 60px 0;
  transition: 250ms ease-in-out;
  position: relative;
}

a{
  text-decoration: none;
}

p,
blockquote,
span,
a,
li {
  color: var(--font-col1);
}

li{
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--font-col1);
}

blockquote{
  border-left: 3px solid var(--primary-color);
  padding: 10px;
  margin: 20px 0;
}

// generics 

.container {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.head_text {
  font-size: clamp(2.9rem, 7vw, 6rem);
  line-height: 1 !important;
}

.subhead_text {
  font-size: clamp(1.28rem, 2.8vw, 4rem);
  // opacity: .4;
  margin-bottom: 10px;
  margin-left: 5px;
}

.rainbow{
  color: var(--head-color);
  font-weight: 700;
}

.social-svg-icon path{
  fill:var(--font-col1);
}

.handwave{
  // display: inline-block;
  object-fit: contain;
  width: clamp(1.98rem, 3.5vw, 4.5rem);
  @media (max-width:$lm) {
    margin-bottom: -10px;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-weight: 700;
  outline: none;
  border: none;
  outline: 2px solid var(--primary-color);
  margin: 5px 0;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px var(--secondary-color);
  color: var(--background);
  &:active{
    transition: 50ms ease-in-out !important;
    transform: translate(5px,5px);
    box-shadow: 2px 2px 0px 0px var(--secondary-color);
  }

  @media (max-width:768px) {
    padding: 1rem 1.2rem;
  }

}

.btn-primary {
  background: var(--primary-color);
  &:hover{
    background:var(--primary-color-500);
  }
}

.btn-outline {
  background: transparent;
  color: var(--font-col1); 
  &:hover{
    background:var(--font-col1);
    color: var(--background);
    outline-color: var(--font-col1);
  }
}

.btn-link{
  display:block; text-align:center; margin-top:40px; color:var(--primary-color);
}

// swal modal 

.swal-modal{
  background: var(--dark2);


  & .swal-text{
    color: var(--font-col1) !important;
  }

  & .swal-button{
    background: var(--primary-color);
    &:hover{
      background: linear-gradient(12deg , var(--primary-color) , var(--secondary-color));
    }
  } 

}



// bokey 

.bokey {
  position: absolute;
  width: 40vw;
  height: 40vh;
  // z-index: 555;
  background: radial-gradient(92.55% 92.55% at 60.95% 7.45%, var(--secondary-color) 0%, var(--primary-color) 95.31%);
  // opacity: 0.56;
  filter: blur(253px);
  z-index: -1;

  @media(min-width:$xxl){
    opacity: .2;
  }
}

.bokey1{
  right: 0;
  bottom:0;
}

.bokey2{
  left: 0;
  bottom:0;
}

// preloader 

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(1.05);
  }
  40%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1.15);
  }
  80%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.preloader{
  background: var(--background);
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 44;
  display: grid;
  place-items: center;


  & .preloader-circle{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    padding: 1px;
    background: linear-gradient(12deg , var(--primary-color) , var(--secondary-color));
    z-index: 55;
    animation: pulse ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 20;
  }

}


// navbar


nav {

  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--primary-color-800);
  background-color: var(--dark2);
  backdrop-filter: blur(40px);

  &>div {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px !important;
    @media (max-width:$md) {
      padding: 20px 20px !important;
    }

    & .logo {
      display: flex;
      width: 15rem;
      z-index: 2;

      & img {
        max-width: 70%;
      }
    }

    & .menu {
      display: flex;
      align-items: center;

      @media(max-width:$md) {
        // display: none;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        background:var(--background);
        color: var(--background);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        margin: 0 !important;
        padding: 0 !important;
        transform: translateX(-100%) translateY(-20%);
        transition: 250ms ease-in-out;

        & p{
          margin: 10px 0 !important; 
          & a{
            font-size: 1.75rem;
          }
        }
        
        &.show-menu{
          transform: translateX(0) translateY(0);
        }

      }

      p {
        padding: 10px;
        margin: 0 10px;
        font-weight: 400;
      }

    }


    & .hamburger{
      display: none;
      z-index: 2;
      @media(max-width:$md){
        display: block;
      }
      & .line{
        height: 3px;
        width: 35px;
        background: var(--font-col1);
        margin: 8px;   
        display: flex;
        transition: 250ms ease-in-out;
      }
    }

    & .active{
      transform: translateY(-10px);

      & .line1{
        transform: translateY(22px) rotate(45deg);
      }

      & .line2{
        transform: translateY(10px);
        opacity: 0;
      }

      & .line3{
        transform: rotate(-45deg);
      }

    }

  }
}


// hero section 

.hero {
  padding:80px 60px;
  display: flex;
  align-items: center;

  @media(max-width:$md){
    flex-direction: column;
    padding: 60px 10px;
  }

  & .hero-left {
    
    & .my-title{
      text-transform: uppercase;
      font-weight:600 ;
      letter-spacing: 15px;
      // opacity: .4;
      margin: 20px 0 40px 0;
    }


    & .btn-outline{
      margin-left: 10px !important;
    }

  }

  & .hero-right {
    flex: 1;

    & .social-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media(max-width:$md){
        margin-top: 60px;
        flex-direction: row;
      }

      & svg {
        margin: 5px;
        background: transparent;
        transition: 200ms ease-in-out !important;
        &:hover{
          transform: scale(1.2);
        }
      }
    }

  }



}


// work section 

.work{

  position: relative;

  & .work-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin-left: -40px;

    & .work-card{

      max-width: 350px;
      border: 1px solid var(--font-col1-o-100);
      margin: 20px;

      &:hover{
        background: var(--card-hover);
        box-shadow: 10px 10px 0px 0px var(--secondary-color-o-100);
        border-image: linear-gradient(120deg , var(--primary-color) , var(--secondary-color) ) 2% 2% stretch;
      }

      & .work-img{

        & img{
          max-width: 100%;
          object-fit: contain;
        }
      }

      & .work-content{
        padding: 20px;

        & h1{
          font-size: 1.75rem;
        }

        & p{
          display: block;
          margin-top: 10px !important;
          opacity: .7;
        }

      }

    }

  }

}

// tech stack 

.tech-stack{

  & .tech-stack-container{
    max-width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    place-items: center;
    text-align: center;

    img{
      object-fit: contain;
      margin: 15px 10px;
    }
 
    @media(max-width:$xl) {
      grid-template-columns: repeat(6 , 1fr);
    }
 
    @media(max-width:$lg) {
      grid-template-columns: repeat(4 , 1fr);
    }
    
    @media(max-width:$md) {
      grid-template-columns: repeat(3 , 1fr);

      & img{
        margin: 10px 0;
      }

    }
    
    @media(max-width:$sm) {
      grid-template-columns: repeat(2 , 1fr);
    }
  }

}

// testimonials

.testimonials{

  & .testimonial-slider{
    
    & .testimonial-slide{
      padding: 60px 40px ;
      background: var(--dark2);
      position: relative;
      max-width: 800px;
      margin: 10px auto;
      border: 1px transparent solid;

      &:hover{
        border-image: linear-gradient(120deg , var(--primary-color) , var(--secondary-color) ) 2% 2% stretch !important;
      }

      & h4 {
        opacity: .8 !important;
      }

      & h2 {
        font-size: clamp(1.25rem , 2vw , 3rem);
        margin-top: 20px;
      }

      & img {
        position: absolute;
        max-height: 80%;
        right: 5%;
        top: 5%;
      }

    }

  }

}

.contact{
  scroll-margin-top: 80px;

  & .contact-container{
    margin: 0 auto;
    text-align: center;

    & form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 120px;

      @media(max-width:$lm){
        display: flex;
        flex-direction: column;
        padding: 0 60px;
      }

      @media(max-width:$md){
        padding: 0 20px;
      }

      & .all-input-container{
        display: flex;
        flex-direction: column;


        & .input-container{
          display: flex;
          flex-direction: row;

          @media(max-width:$md){
            flex-direction: column;
          }

          & input{
            flex: 1;
            padding: 10px 20px;
            background: var(--background-light);
            outline: none;
            border: 2px solid var(--font-col1-o-100);
            margin: 5px;
            color: var(--font-col1);
          }
        }

        & textarea{
          padding: 10px 20px;
          margin: 5px;
          outline: none;
          color: var(--font-col1);
          border: 2px solid var(--font-col1-o-100);
          background: var(--background-light);
        }

      }

      button{
        background: var(--background-light);
        outline: none;
        border: 2px solid var(--font-col1-o-100);
        color: var(--font-col1);
        font-weight: 700;
        cursor: pointer;
        transition: 200ms cubic-bezier(0.215, 0.610, 0.355, 1);

        &:hover{
          background: var(--blog-hover) ;
        }

        @media(max-width:$lm){
          padding: 10px 20px;
          margin: 5px;
        }


      }

    }


  }


}

footer {
  background: var(--dark2);
  padding: 40px 20px !important;

  & .footer-content {
    & p {
      text-align: center;
      & .highlight {
        color: var(--primary-color);
      }
    }

    & .footer-socials{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      & svg{
        margin: 4px 6px;
        max-width: 2rem;
      }
    }
  }

}


.greeting{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: grid;
  place-items: center;
  background: var(--background);
  text-align: center;
  transform: translateY(-100%);
  transition: 250ms ease-in-out;
    
  & img{
    // min-height: 65vh;
    aspect-ratio: 1;
    min-width: 70%;
    max-width: 80vw;
  }

  & h1{
    font-size: 1.25rem;
    margin-top: 15px;
  }

  & .close{
    position: fixed;
    top: 50px;
    right: 50px;
    color: var(--font-col1);
    font-size: 5rem;
    transform: rotate(45deg);
    cursor: url('../img/cursor2.png') , pointer!important;
  }

}

.show-greeting{
  transform: translateY(0);
}


// begin longshadow
// $color: grey;

// @function makelongshadow($color) {
//   $val: 0px 0px $color;
//   @for $i from 1 through 200 {
//     $val: #{$val}, #{$i}px #{$i}px #{$color};
//   }
//   @return $val;
// }
// @mixin longshadow($color) {
//   text-shadow: makelongshadow($color);
// }
// .long-shadow {
//   @include longshadow(darken($color, 11% ));
//   // background: $color;
//   color: var(--font-col1);
//   overflow: hidden;
// }

.long-shadow {
  text-shadow: 0px 0px var(  --hightlight), 1px 1px var(  --hightlight), 2px 2px var(  --hightlight), 3px 3px var(  --hightlight), 4px 4px var(  --hightlight), 5px 5px var(  --hightlight), 6px 6px var(  --hightlight), 7px 7px var(  --hightlight), 8px 8px var(  --hightlight), 9px 9px var(  --hightlight), 10px 10px var(  --hightlight), 11px 11px var(  --hightlight), 12px 12px var(  --hightlight), 13px 13px var(  --hightlight), 14px 14px var(  --hightlight), 15px 15px var(  --hightlight), 16px 16px var(  --hightlight), 17px 17px var(  --hightlight), 18px 18px var(  --hightlight), 19px 19px var(  --hightlight), 20px 20px var(  --hightlight), 21px 21px var(  --hightlight), 22px 22px var(  --hightlight), 23px 23px var(  --hightlight), 24px 24px var(  --hightlight), 25px 25px var(  --hightlight), 26px 26px var(  --hightlight), 27px 27px var(  --hightlight), 28px 28px var(  --hightlight), 29px 29px var(  --hightlight), 30px 30px var(  --hightlight), 31px 31px var(  --hightlight), 32px 32px var(  --hightlight), 33px 33px var(  --hightlight), 34px 34px var(  --hightlight), 35px 35px var(  --hightlight), 36px 36px var(  --hightlight), 37px 37px var(  --hightlight), 38px 38px var(  --hightlight), 39px 39px var(  --hightlight), 40px 40px var(  --hightlight), 41px 41px var(  --hightlight), 42px 42px var(  --hightlight), 43px 43px var(  --hightlight), 44px 44px var(  --hightlight), 45px 45px var(  --hightlight), 46px 46px var(  --hightlight), 47px 47px var(  --hightlight), 48px 48px var(  --hightlight), 49px 49px var(  --hightlight), 50px 50px var(  --hightlight), 51px 51px var(  --hightlight), 52px 52px var(  --hightlight), 53px 53px var(  --hightlight), 54px 54px var(  --hightlight), 55px 55px var(  --hightlight), 56px 56px var(  --hightlight), 57px 57px var(  --hightlight), 58px 58px var(  --hightlight), 59px 59px var(  --hightlight), 60px 60px var(  --hightlight), 61px 61px var(  --hightlight), 62px 62px var(  --hightlight), 63px 63px var(  --hightlight), 64px 64px var(  --hightlight), 65px 65px var(  --hightlight), 66px 66px var(  --hightlight), 67px 67px var(  --hightlight), 68px 68px var(  --hightlight), 69px 69px var(  --hightlight), 70px 70px var(  --hightlight), 71px 71px var(  --hightlight), 72px 72px var(  --hightlight), 73px 73px var(  --hightlight), 74px 74px var(  --hightlight), 75px 75px var(  --hightlight), 76px 76px var(  --hightlight), 77px 77px var(  --hightlight), 78px 78px var(  --hightlight), 79px 79px var(  --hightlight), 80px 80px var(  --hightlight), 81px 81px var(  --hightlight), 82px 82px var(  --hightlight), 83px 83px var(  --hightlight), 84px 84px var(  --hightlight), 85px 85px var(  --hightlight), 86px 86px var(  --hightlight), 87px 87px var(  --hightlight), 88px 88px var(  --hightlight), 89px 89px var(  --hightlight), 90px 90px var(  --hightlight), 91px 91px var(  --hightlight), 92px 92px var(  --hightlight), 93px 93px var(  --hightlight), 94px 94px var(  --hightlight), 95px 95px var(  --hightlight), 96px 96px var(  --hightlight), 97px 97px var(  --hightlight), 98px 98px var(  --hightlight), 99px 99px var(  --hightlight), 100px 100px var(  --hightlight), 101px 101px var(  --hightlight), 102px 102px var(  --hightlight), 103px 103px var(  --hightlight), 104px 104px var(  --hightlight), 105px 105px var(  --hightlight), 106px 106px var(  --hightlight), 107px 107px var(  --hightlight), 108px 108px var(  --hightlight), 109px 109px var(  --hightlight), 110px 110px var(  --hightlight), 111px 111px var(  --hightlight), 112px 112px var(  --hightlight), 113px 113px var(  --hightlight), 114px 114px var(  --hightlight), 115px 115px var(  --hightlight), 116px 116px var(  --hightlight), 117px 117px var(  --hightlight), 118px 118px var(  --hightlight), 119px 119px var(  --hightlight), 120px 120px var(  --hightlight), 121px 121px var(  --hightlight), 122px 122px var(  --hightlight), 123px 123px var(  --hightlight), 124px 124px var(  --hightlight), 125px 125px var(  --hightlight), 126px 126px var(  --hightlight), 127px 127px var(  --hightlight), 128px 128px var(  --hightlight), 129px 129px var(  --hightlight), 130px 130px var(  --hightlight), 131px 131px var(  --hightlight), 132px 132px var(  --hightlight), 133px 133px var(  --hightlight), 134px 134px var(  --hightlight), 135px 135px var(  --hightlight), 136px 136px var(  --hightlight), 137px 137px var(  --hightlight), 138px 138px var(  --hightlight), 139px 139px var(  --hightlight), 140px 140px var(  --hightlight), 141px 141px var(  --hightlight), 142px 142px var(  --hightlight), 143px 143px var(  --hightlight), 144px 144px var(  --hightlight), 145px 145px var(  --hightlight), 146px 146px var(  --hightlight), 147px 147px var(  --hightlight), 148px 148px var(  --hightlight), 149px 149px var(  --hightlight), 150px 150px var(  --hightlight), 151px 151px var(  --hightlight), 152px 152px var(  --hightlight), 153px 153px var(  --hightlight), 154px 154px var(  --hightlight), 155px 155px var(  --hightlight), 156px 156px var(  --hightlight), 157px 157px var(  --hightlight), 158px 158px var(  --hightlight), 159px 159px var(  --hightlight), 160px 160px var(  --hightlight), 161px 161px var(  --hightlight), 162px 162px var(  --hightlight), 163px 163px var(  --hightlight), 164px 164px var(  --hightlight), 165px 165px var(  --hightlight), 166px 166px var(  --hightlight), 167px 167px var(  --hightlight), 168px 168px var(  --hightlight), 169px 169px var(  --hightlight), 170px 170px var(  --hightlight), 171px 171px var(  --hightlight), 172px 172px var(  --hightlight), 173px 173px var(  --hightlight), 174px 174px var(  --hightlight), 175px 175px var(  --hightlight), 176px 176px var(  --hightlight), 177px 177px var(  --hightlight), 178px 178px var(  --hightlight), 179px 179px var(  --hightlight), 180px 180px var(  --hightlight), 181px 181px var(  --hightlight), 182px 182px var(  --hightlight), 183px 183px var(  --hightlight), 184px 184px var(  --hightlight), 185px 185px var(  --hightlight), 186px 186px var(  --hightlight), 187px 187px var(  --hightlight), 188px 188px var(  --hightlight), 189px 189px var(  --hightlight), 190px 190px var(  --hightlight), 191px 191px var(  --hightlight), 192px 192px var(  --hightlight), 193px 193px var(  --hightlight), 194px 194px var(  --hightlight), 195px 195px var(  --hightlight), 196px 196px var(  --hightlight), 197px 197px var(  --hightlight), 198px 198px var(  --hightlight), 199px 199px var(  --hightlight), 200px 200px var(  --hightlight);
  color: var(--font-col1);
  overflow: hidden;
}

.rotate {
  display: inline-block;
  animation: rotation 4s infinite linear !important; 
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg) ;
  }
  to {
    transform: rotateZ(359deg);

  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color-300) var(--background);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--background);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-300);
    border-radius: 10px;
    border: 0px solid var(--font-col1);
  }



// -----------------------ABOUT PAGE--------------------------


.about-hero{
 
 
  & .about-hero-container {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    padding: 10px 70px;

    @media(max-width:$lm){
      display: flex;
      flex-direction: column;
      
      & .about-hero-image{
        margin-top: 20px;
      }
      
    }

    & .about-hero-image{
      max-width: 400px;
      border-radius: 16px;
      box-shadow: 10px 10px var(--primary-color);
      & img{
        max-width: 100%;
        border-radius: 16px;
        &:hover{
          transform: translate(5px , 5px);
        }
      }
      &:hover{
        box-shadow: 10px 5px var(--primary-color-300);
      }

    }
  
  }
  
}

// -----------------------BLOGS PAGE--------------------------

.blogs-hero{
  padding: 60px 20px;
  background: var(--dark2);

  & h1{
    text-align: center;
    padding-bottom: 30px;
  }
}

.blog-list-section{

  & .blog-list-container{
    padding: 0 150px;

    @media(max-width:$md){
      padding: 0 50px;
    }

    @media(max-width:$sm){
      padding: 0 0 !important;
    }
  }

}


.pagination{
  margin: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  
  & p{
    color: #6b6b6b;
  }

  & a{
    margin: 10px 5px;
    padding: 10px 15px;
    background: var(--background-light);
    color: var(--primary-color);
    font-weight: bold;
  }

  // current page
  a[aria-current="page"]{
    border: 1px solid var(--primary-color);
  }

}



// blog card


.blog-card{
  padding:20px;
  margin: 20px 0;
  border-radius: 16px;
  border: 2px solid var(--font-col1-o-100);
  transition: 200ms cubic-bezier(0.215, 0.610, 0.355, 1);


  &:hover{
    background: var(--blog-hover);
  }

  &:hover > h1 {
    text-decoration: underline;
  }

  & h1{
    margin-bottom: 5px;
    color: var(--primary-color);
    opacity: 1;
  }

  & .blog-hashtags{
    display: block;
    margin-bottom: 10px;

    & p{
      margin: 5px;
      color: var(--font-col1);
      background: var(--background);
      padding: 5px;
      border-radius: 4px;
      border: 1px solid var(--font-col1-o-100 );
      display: inline-block;
      font-size: .75rem;

      &:hover{
        color: var(--primary-color);
      }

    }

  }

  & p{
    color: var(--font-col1);
  }

  hr{
    background: var(--primary-color);
  }

  & .blog-details{
    padding-top: 10px;
  }

}


// for home page featured 

.writing-section{
  padding:0 120px !important;
  @media (max-width:$md) {
    padding:0 60px !important;
  }
  @media (max-width:$sm) {
    padding:0 10px !important;
  }
}

.blog-card-home{
  // display: grid;
  // grid-template-columns: 1fr 1fr;

}

// ---------------------blog single ----------------------

.blog-single-hero{
  text-align: center;
  // background-image: url(//source.unsplash.com/random);
  background-size: cover;
  background-color: var(--background-o-500);
  background-blend-mode: color !important;
  padding: 120px 40px;

  & h2{
    margin-top: 20px;
  }

  & .blog-hashtags{
    display: block;
    margin-bottom: 10px;

    & a{
      margin: 5px;
      color: var(--font-col1);
      color: var(--font-col1);
      background: var(--background);
      padding: 5px;
      border-radius: 4px;
      border: 1px solid var(--font-col1-o-100 );
      display: inline-block;
      font-size: .75rem;

      &:hover{
        color: var(--primary-color);
      }

    }

  }

}

.blog-single-container{
  padding:60px 40px;
  display: grid;
  grid-template-columns: 10% 60% 30%;

  @media(max-width:$lm){
    padding:60px 20px;
    display: flex;
    flex-direction: column;
  }

  & .blog-social-share{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    & .share-btn-group {
      position: sticky;
      top: 200px;
      & svg{
        display: block;
        margin: 5px 0;   
        max-width: 28px;     
      }
  
      @media(max-width:$lm){
        // margin-top: 20px;
        // display: flex;
        // // flex-direction: row;
        // justify-content: center;
        position: fixed;
        right: -2px;
        bottom: 20px;
        top: unset;
        background: var(--background);
        border-radius: 8px;
        border: 1px solid var(--primary-color);

        & svg{
          margin: 5px 10px;
        }
      }
    }
  }

  & .blog-single-content{
    text-align: justify;

    & > div{
      scroll-margin-top: 120px;
    }

    & h1 , & h2 , & h3 , & h4 , & h5 , & h6{
      margin:10px 0;
      text-align: left;
      margin-top: 40px;
    } 

    & h1{
      font-size:2.4rem;  
    }
    
    & h2{
      font-size:2.2rem;  
    }
    
    & h3{
      font-size:2rem;  
    }

    & h4{
      font-size:1.8rem;  
    }

    & h5{
      font-size:1.4rem;  
    }

    & h6{
      font-size:1.2rem;  
    }

    & li{
      list-style: unset;
      color: var(--font-col1);
      margin: 2px 0;
    }

    & a{
      color: var(--font-col1);
      background-image: linear-gradient(0, var(--primary-color) 12%, transparent 20%);
    }

    & ul , & ol{
      margin: 20px 0 20px 40px;
      font-size: 1.15rem;
      line-height: 1.5;
      color: var(--font-col1);
      font-weight: 400 !important;
    }

    & li{
      font-weight: 400 !important;
    }

    & p{
      margin: 1rem 0;
      font-size: 1.15rem;
      line-height: 1.5;
      color: var(--font-col1);
      font-weight: 400 !important;
    }

    & img{
      padding: 20px;
      margin: 0 0 0 -10px;
      width: 100%;
    }

    & iframe{
      width: 600px !important;
      height: unset !important;
      max-width: 100% !important;
      aspect-ratio: 16/9 !important;
    }

    & blockquote{
      font-size: 1.15rem;
      line-height: 1.75;
      color: var(--font-col1);
      background: var(--card-hover);
    }

  }
}

.blog-single-recommendations{

  @media (min-width:$lm) {
    padding: 20px;
    position: sticky;
    top: 80px;
    max-height: 90vh;
    overflow-y: scroll;
  }
 
}
  

.blog-indicator{
  background: linear-gradient(12deg , var(--primary-color)  , var(--secondary-color) );
  height: 3px;
  width: 115vw;
  position: fixed;
  inset: 0;
  z-index: 9;
  transform: translateX(-100vw);
}

:not(pre)>code {
  background: var(--code-block);
  display: inline-block;
  padding: 0 .5em;
  font-family: monospace;
  font-size: .8em;
  border-radius: 4px;
}

// code > *{ just in case i need monospace in code snippets 
//   font-family: monospace !important;
// }


//-------- latest-blog-strip-container---------------

.latest-blog-strip-container{
  background: var(--background);
  border:1px solid transparent;
  display: grid;
  grid-template-columns: 20% 80%;
  width: 500px;
  position: fixed;
  right: 0;
  bottom: 0;
  border-image: linear-gradient(120deg , var(--primary-color) , var(--secondary-color) ) 2% 2% stretch;
  transform: translateY(100%);
  transition: 400ms ease-in-out;

  @media (max-width:$md) {
    width: 100%;
     grid-template-columns: 40% 60%;
  }

}

.show-blog-strip{
  transform: translateY(0);
}

.latest-blog-strip-container .strip-content{
  padding: 20px;
}

.latest-blog-strip-container span{
  font-size: 2rem;
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 10px;
}

.latest-blog-strip-container h2{
 font-size: 1.4rem;
 @media (max-width:$md) {
  font-size: .8rem;
 }
}

.latest-blog-strip-container #blog-strip-link{
  display: block;
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 10px;
  @media (max-width:$md) {
    font-size: .6rem;
  }
}


// toggle btn

.toggle-btn{
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  outline:none;
  border:2px solid var(--secondary-color);
}

// THeme pallete container 

.theme-selector-container{
  position: fixed;
  padding: 40px;
  inset: 75px 0 0 0 ;
  transform: translate3d(100%,50%,0);
  transition: 400ms transform ease-in-out;
  background:var(--background-o-500);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);

    &.active{
    transform: translate3d(0,0,0);
  }
  
  & .close-theme-selector{
    color: var(--font-col1);
    font-size: 3rem;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 10;
    transform: rotate(45deg);
    cursor: url('../img/cursor2.png') , pointer!important;
  }

  & .color-schemes{

    & .theme-pallete-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        & span{
          padding:25px 35px;
          display: inline-block;

          &:nth-child(1){
            background: var(--primary-color-800);
          }

          &:nth-child(2){
            background: var(--secondary-color);
        }
      }
    }

  }

}

// Below Form 

.linkedin-callout {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  & .highlight {
    color: var(--primary-color);
  }
}


// for syntax highlighting
/**
 * Coldark Theme for Prism.js
 * Theme variation: Dark
 * Tested with HTML, CSS, JS, JSON, PHP, YAML, Bash script
 * @author Armand Philippot <contact@armandphilippot.com>
 * @homepage https://github.com/ArmandPhilippot/coldark-prism
 * @license MIT
 */
 code[class*="language-"],
 pre[class*="language-"] {
   color: #e3eaf2;
   background: none;
   font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection,
 pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection,
 code[class*="language-"] ::-moz-selection {
   background: #3c526d;
 }
 
 pre[class*="language-"]::selection,
 pre[class*="language-"] ::selection,
 code[class*="language-"]::selection,
 code[class*="language-"] ::selection {
   background: #3c526d;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: 0.5em 0;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #111b27;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: 0.1em 0.3em;
   border-radius: 0.3em;
   white-space: normal;
 }
 
.token{
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}

 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #8da1b9;
 }
 
 .token.punctuation {
   color: #e3eaf2;
 }
 
 .token.delimiter.important,
 .token.selector .parent,
 .token.tag,
 .token.tag .token.punctuation {
   color: #66cccc;
 }
 
 .token.attr-name,
 .token.boolean,
 .token.boolean.important,
 .token.number,
 .token.constant,
 .token.selector .token.attribute {
   color: #e6d37a;
 }
 
 .token.class-name,
 .token.key,
 .token.parameter,
 .token.property,
 .token.property-access,
 .token.variable {
   color: #6cb8e6;
 }
 
 .token.attr-value,
 .token.inserted,
 .token.color,
 .token.selector .token.value,
 .token.string,
 .token.string .token.url-link {
   color: #91d076;
 }
 
 .token.builtin,
 .token.keyword-array,
 .token.package,
 .token.regex {
   color: #f4adf4;
 }
 
 .token.function,
 .token.selector .token.class,
 .token.selector .token.id {
   color: #c699e3;
 }
 
 .token.atrule .token.rule,
 .token.combinator,
 .token.keyword,
 .token.operator,
 .token.pseudo-class,
 .token.pseudo-element,
 .token.selector,
 .token.unit {
   color: #e9ae7e;
 }
 
 .token.deleted,
 .token.important {
   color: #cd6660;
 }
 
 .token.keyword-this,
 .token.this {
   color: #6cb8e6;
 }
 
 .token.important,
 .token.keyword-this,
 .token.this,
 .token.bold {
   font-weight: bold;
 }
 
 .token.delimiter.important {
   font-weight: inherit;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .language-markdown .token.title,
 .language-markdown .token.title .token.punctuation {
   color: #6cb8e6;
   font-weight: bold;
 }
 
 .language-markdown .token.blockquote.punctuation {
   color: #f4adf4;
 }
 
 .language-markdown .token.code {
   color: #66cccc;
 }
 
 .language-markdown .token.hr.punctuation {
   color: #6cb8e6;
 }
 
 .language-markdown .token.url .token.content {
   color: #91d076;
 }
 
 .language-markdown .token.url-link {
   color: #e6d37a;
 }
 
 .language-markdown .token.list.punctuation {
   color: #f4adf4;
 }
 
 .language-markdown .token.table-header {
   color: #e3eaf2;
 }
 
 .language-json .token.operator {
   color: #e3eaf2;
 }
 
 .language-scss .token.variable {
   color: #66cccc;
 }
 
 /* overrides color-values for the Show Invisibles plugin
  * https://prismjs.com/plugins/show-invisibles/
  */
 .token.tab:not(:empty):before,
 .token.cr:before,
 .token.lf:before,
 .token.space:before {
   color: #8da1b9;
 }
 
 /* overrides color-values for the Toolbar plugin
  * https://prismjs.com/plugins/toolbar/
  */
 div.code-toolbar > .toolbar a,
 div.code-toolbar > .toolbar button {
   color: #111b27;
   background: #6cb8e6;
 }
 
 div.code-toolbar > .toolbar a:hover,
 div.code-toolbar > .toolbar a:focus,
 div.code-toolbar > .toolbar button:hover,
 div.code-toolbar > .toolbar button:focus {
   color: #111b27;
   background: #6cb8e6da;
   text-decoration: none;
 }
 
 div.code-toolbar > .toolbar span,
 div.code-toolbar > .toolbar span:hover,
 div.code-toolbar > .toolbar span:focus {
   color: #111b27;
   background: #8da1b9;
 }
 
 /* overrides color-values for the Line Highlight plugin
  * http://prismjs.com/plugins/line-highlight/
  */
 .line-highlight {
   background: #3c526d5f;
   background: linear-gradient(to right, #3c526d5f 70%, #3c526d55);
 }
 
 .line-highlight:before,
 .line-highlight[data-end]:after {
   background-color: #8da1b9;
   color: #111b27;
   box-shadow: 0 1px #3c526d;
 }
 
 pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
   background-color: #8da1b918;
 }
 
 /* overrides color-values for the Line Numbers plugin
  * http://prismjs.com/plugins/line-numbers/
  */
 .line-numbers .line-numbers-rows {
   border-right: 1px solid #0b121b;
   background: #0b121b7a;
 }
 
 .line-numbers-rows > span:before {
   color: #8da1b9da;
 }
 
 /* overrides color-values for the Match Braces plugin
  * https://prismjs.com/plugins/match-braces/
  */
 .rainbow-braces .token.punctuation.brace-level-1,
 .rainbow-braces .token.punctuation.brace-level-5,
 .rainbow-braces .token.punctuation.brace-level-9 {
   color: #e6d37a;
 }
 
 .rainbow-braces .token.punctuation.brace-level-2,
 .rainbow-braces .token.punctuation.brace-level-6,
 .rainbow-braces .token.punctuation.brace-level-10 {
   color: #f4adf4;
 }
 
 .rainbow-braces .token.punctuation.brace-level-3,
 .rainbow-braces .token.punctuation.brace-level-7,
 .rainbow-braces .token.punctuation.brace-level-11 {
   color: #6cb8e6;
 }
 
 .rainbow-braces .token.punctuation.brace-level-4,
 .rainbow-braces .token.punctuation.brace-level-8,
 .rainbow-braces .token.punctuation.brace-level-12 {
   color: #c699e3;
 }
 
 /* overrides color-values for the Diff Highlight plugin
  * https://prismjs.com/plugins/diff-highlight/
  */
 pre.diff-highlight > code .token.deleted:not(.prefix),
 pre > code.diff-highlight .token.deleted:not(.prefix) {
   background-color: #cd66601f;
 }
 
 pre.diff-highlight > code .token.inserted:not(.prefix),
 pre > code.diff-highlight .token.inserted:not(.prefix) {
   background-color: #91d0761f;
 }
 
 /* overrides color-values for the Command Line plugin
  * https://prismjs.com/plugins/command-line/
  */
 .command-line-prompt {
   border-right: 1px solid #0b121b;
 }
 
 .command-line-prompt > span:before {
   color: #8da1b9da;
 }
