// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Josefin Sans';
  src:  url('/fonts/static/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src:  url('../fonts/static/JosefinSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

// @font-face {
//   font-family: 'Josefin Sans';
//   src:  url('../fonts/static/JosefinSans-Bold.ttf') format('truetype');
//   font-weight: 800;
//   font-display: swap;
// }


$background: #0C1118;
$dark2: #171d25b6;
$primary-color: #f07b3f;
$primary-color-300:#f0a33f;
$secondary-color: #ffd460;
$font-col1 :#fffaf5;
$head-color:lighten($primary-color , 20%);
$card-hover:lighten($background , 1%);

// $background:#fffaf5;
// $dark2: #fff6f2;
// $primary-color: #f07b3f;
// $primary-color-300:#f0a33f;
// $secondary-color: #ffd460;
// $font-col1 : #0C1118;
// $head-color:darken($primary-color , 20%);
// $card-hover:darken($background , 20%);

// document.querySelector(':root').style.setProperty('--primary-color', 'red')

// breakpoints 

$xs:320px;
$sm:480px;
$md:768px;
$lm:888px;
$lg:992px;
$xl:1200px;
$xxl:1400px;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  // transition: 250ms ease-in-out;
}

// globals

html{
  scroll-behavior: smooth;
}

// near edges cursor issue needs to bn solved
body {
  overflow-x: hidden;
  background: $background;
  cursor: url('../img/cursor1.png') , auto;
}

main{
  min-height: 80vh;
  padding-top: 80px;
}

button:hover , a:hover {
  cursor: url('../img/cursor2.png') , pointer!important;
}

section {
  // min-height: 80vh;
  padding: 60px 0;
  transition: 250ms ease-in-out;
  position: relative;
}

a{
  text-decoration: none;
}

p,
blockquote,
span,
a,
li {
  color: $font-col1;
}

li{
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $font-col1;
}

blockquote{
  border-left: 3px solid $primary-color;
  padding: 10px;
  margin: 20px 0;
}

// generics 

.container {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.head_text {
  font-size: clamp(2.9rem, 7vw, 6rem);
  line-height: 1 !important;
}

.subhead_text {
  font-size: clamp(1.28rem, 3.5vw, 4rem);
  opacity: .4;
  margin-bottom: 5px;
}

.rainbow{
  color: $head-color;
  font-weight: 700;
}

.handwave{
  // display: inline-block;
  object-fit: contain;
  width: clamp(1.98rem, 3.5vw, 4.5rem);
  @media (max-width:$lm) {
    margin-bottom: -10px;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-weight: 700;
  outline: none;
  border: none;
  outline: 2px solid $primary-color;
  margin: 5px 0;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px $secondary-color;
  color: $background;
  &:active{
    transition: 50ms ease-in-out !important;
    transform: translate(5px,5px);
    box-shadow: 2px 2px 0px 0px $secondary-color;
  }

  @media (max-width:768px) {
    padding: 1rem 1.2rem;
  }

}

.btn-primary {
  background: $primary-color;
  &:hover{
    background:darken($primary-color , 3%);
  }
}

.btn-outline {
  background: transparent;
  color: $font-col1; 
  &:hover{
    background:$font-col1;
    color: $background;
    outline-color: $font-col1;
  }
}

.btn-link{
  display:block; text-align:center; margin-top:40px; color:$primary-color;
}

// swal modal 

.swal-modal{
  background: lighten($color: $background, $amount: .5);


  & .swal-text{
    color: $font-col1 !important;
  }

  & .swal-button{
    background: $primary-color;
    &:hover{
      background: linear-gradient(12deg , $primary-color , $secondary-color);
    }
  } 

}



// bokey 

.bokey {
  position: absolute;
  width: 40vw;
  height: 40vh;
  // z-index: 555;
  background: radial-gradient(92.55% 92.55% at 60.95% 7.45%, $secondary-color 0%, $primary-color 95.31%);
  opacity: 0.56;
  filter: blur(253px);
  z-index: -1;

  @media(min-width:$xxl){
    opacity: .2;
  }
}

.bokey1{
  right: 0;
  bottom:0;
}

.bokey2{
  left: 0;
  bottom:0;
}

// preloader 

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(1.05);
  }
  40%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1.15);
  }
  80%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.preloader{
  background: $background;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 44;
  display: grid;
  place-items: center;


  & .preloader-circle{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    padding: 1px;
    background: linear-gradient(12deg , $primary-color , $secondary-color);
    z-index: 55;
    animation: pulse ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 20;
  }

}


// navbar


nav {

  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid darken($primary-color , 45%);
  background-color: $dark2;
  backdrop-filter: blur(40px);

  &>div {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px !important;
    @media (max-width:$md) {
      padding: 20px 20px !important;
    }

    & .logo {
      display: flex;
      width: 15rem;
      z-index: 2;

      & img {
        max-width: 70%;
      }
    }

    & .menu {
      display: flex;
      align-items: center;

      @media(max-width:$md) {
        // display: none;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        background:$background;
        color: $background;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        margin: 0 !important;
        padding: 0 !important;
        transform: translateX(-100%) translateY(-20%);
        transition: 250ms ease-in-out;

        & p{
          margin: 10px 0 !important; 
          & a{
            font-size: 1.75rem;
          }
        }
        
        &.show-menu{
          transform: translateX(0) translateY(0);
        }

      }

      p {
        padding: 10px;
        margin: 0 10px;
        font-weight: 400;
      }

    }


    & .hamburger{
      display: none;
      z-index: 2;
      @media(max-width:$md){
        display: block;
      }
      & .line{
        height: 3px;
        width: 35px;
        background: $font-col1;
        margin: 8px;   
        display: flex;
        transition: 250ms ease-in-out;
      }
    }

    & .active{
      transform: translateY(-10px);

      & .line1{
        transform: translateY(22px) rotate(45deg);
      }

      & .line2{
        transform: translateY(10px);
        opacity: 0;
      }

      & .line3{
        transform: rotate(-45deg);
      }

    }

  }
}


// hero section 

.hero {

  // background: #130e01;
  padding:80px 60px;
  display: flex;
  align-items: center;

  @media(max-width:$md){
    flex-direction: column;
    padding: 60px 10px;
  }

  & .hero-left {
    
    & .my-title{
      text-transform: uppercase;
      font-weight:600 ;
      letter-spacing: 12px;
      opacity: .4;
      margin: 20px 0 40px 0;
    }


    & .btn-outline{
      margin-left: 10px !important;
    }

  }

  & .hero-right {
    flex: 1;

    & .social-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media(max-width:$md){
        margin-top: 60px;
        flex-direction: row;
      }

      & svg {
        margin: 5px;
        background: transparent;
        transition: 200ms ease-in-out !important;
        &:hover{
          transform: scale(1.2);
        }
      }
    }

  }



}


// work section 

.work{

  position: relative;

  & .work-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin-left: -40px;

    & .work-card{

      max-width: 350px;
      border: 1px solid rgba($font-col1, .1);
      margin: 20px;

      &:hover{
        background: $card-hover;
        box-shadow: 10px 10px 0px 0px rgba($color: $secondary-color, $alpha: .1);
        border-image: linear-gradient(120deg , $primary-color , $secondary-color ) 2% 2% stretch;
      }

      & .work-img{

        & img{
          max-width: 100%;
          object-fit: contain;
        }
      }

      & .work-content{
        padding: 20px;

        & h1{
          font-size: 1.75rem;
        }

        & p{
          display: block;
          margin-top: 10px !important;
          opacity: .4;
        }

      }

    }

  }

}

// tech stack 

.tech-stack{

  & .tech-stack-container{
    max-width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    place-items: center;
    text-align: center;

    img{
      object-fit: contain;
      margin: 15px 10px;
    }
 
    @media(max-width:$xl) {
      grid-template-columns: repeat(6 , 1fr);
    }
 
    @media(max-width:$lg) {
      grid-template-columns: repeat(4 , 1fr);
    }
    
    @media(max-width:$md) {
      grid-template-columns: repeat(3 , 1fr);

      & img{
        margin: 10px 0;
      }

    }
    
    @media(max-width:$sm) {
      grid-template-columns: repeat(2 , 1fr);
    }
  }

}

// testimonials

.testimonials{

  & .testimonial-slider{
    
    & .testimonial-slide{
      padding: 60px 40px ;
      background: lighten($background , 5%);
      position: relative;
      max-width: 800px;
      margin: 10px auto;
      border: 1px transparent solid;

      &:hover{
        border-image: linear-gradient(120deg , $primary-color , $secondary-color) 2% 2% stretch !important;
      }

      & h4 {
        opacity: .8 !important;
      }

      & h2 {
        font-size: clamp(1.25rem , 2vw , 3rem);
        margin-top: 20px;
      }

      & img {
        position: absolute;
        max-height: 80%;
        right: 5%;
        top: 5%;
      }

    }

  }

}

.contact{
  background: lighten($background , 5%);
  scroll-margin-top: 80px;

  & .contact-container{
    margin: 0 auto;
    text-align: center;

    & form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 120px;

      @media(max-width:$lm){
        display: flex;
        flex-direction: column;
        padding: 0 60px;
      }

      @media(max-width:$md){
        padding: 0 20px;
      }

      & .all-input-container{
        display: flex;
        flex-direction: column;


        & .input-container{
          display: flex;
          flex-direction: row;

          @media(max-width:$md){
            flex-direction: column;
          }

          & input{
            flex: 1;
            padding: 10px 20px;
            background: lighten($background , 8%);
            outline: none;
            border: 2px solid rgba($color: $font-col1 , $alpha: .2);
            margin: 5px;
            color: rgba($font-col1, .5);
          }
        }

        & textarea{
          padding: 10px 20px;
          margin: 5px;
          outline: none;
          color: rgba($font-col1, .5);
          border: 2px solid rgba($color: $font-col1, $alpha: .2);
          background: lighten($background , 8%);
        }

      }

      button{
        background: $background;
        outline: none;
        border: 2px solid rgba($color: $font-col1, $alpha: .2);
        color: $font-col1;
        font-weight: 700;
        cursor: pointer;

        &:hover{
          background: darken($background , 40%) ;
        }

        @media(max-width:$lm){
          padding: 10px 20px;
          margin: 5px;
        }


      }

    }


  }


}

footer {
  background: $dark2;
  padding: 40px 20px !important;

  & .footer-content {
    & p {
      text-align: center;
      & .highlight {
        color: $primary-color;
      }
    }

    & .footer-socials{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      & svg{
        margin: 4px 6px;
        max-width: 2rem;
      }
    }
  }

}


.greeting{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: grid;
  place-items: center;
  background: $background;
  text-align: center;
  transform: translateY(-100%);
  transition: 250ms ease-in-out;
    
  & img{
    // min-height: 65vh;
    aspect-ratio: 1;
    min-width: 70%;
    max-width: 80vw;
  }

  & h1{
    font-size: 1.25rem;
    margin-top: 15px;
  }

  & .close{
    position: fixed;
    top: 50px;
    right: 50px;
    color: $font-col1;
    font-size: 5rem;
    transform: rotate(45deg);
    cursor: url('../img/cursor2.png') , pointer!important;
  }

}

.show-greeting{
  transform: translateY(0);
}


// begin longshadow
$color: $background;

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}
@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}
.long-shadow {
  @include longshadow(darken($color, 11% ));
  // background: $color;
  color: $font-col1;
  overflow: hidden;
}


.rotate {
  display: inline-block;
  animation: rotation 4s infinite linear !important; 
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg) ;
  }
  to {
    transform: rotateZ(359deg);

  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $primary-color-300 $background;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: $background;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $primary-color-300;
    border-radius: 10px;
    border: 0px solid $font-col1;
  }



// -----------------------ABOUT PAGE--------------------------


.about-hero{
 
 
  & .about-hero-container {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    padding: 10px 70px;

    @media(max-width:$lm){
      display: flex;
      flex-direction: column;
      
      & .about-hero-image{
        margin-top: 20px;
      }
      
    }

    & .about-hero-image{
      max-width: 400px;
      border-radius: 16px;
      box-shadow: 10px 10px rgba($color: $primary-color, $alpha: .4);
      & img{
        max-width: 100%;
        border-radius: 16px;
        &:hover{
          transform: translate(5px , 5px);
        }
      }
      &:hover{
        box-shadow: 10px 5px rgba($color: $primary-color, $alpha: .8);
      }

    }
  
  }
  
}

// -----------------------BLOGS PAGE--------------------------

.blogs-hero{
  padding: 60px 20px;
  background: lighten($color: $background, $amount: 5);

  & h1{
    text-align: center;
    padding-bottom: 30px;
  }
}

.blog-list-section{

  & .blog-list-container{
    padding: 0 150px;

    @media(max-width:$md){
      padding: 0 50px;
    }

    @media(max-width:$sm){
      padding: 0 0 !important;
    }
  }

  .pagination{
    margin: 50px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    
    & p{
      color: #6b6b6b;
    }

    & a{
      margin: 10px 5px;
      padding: 10px 15px;
      background: lighten($color: $background, $amount: 10);
      color: $primary-color;
      font-weight: bold;
    }

    // current page
    a[aria-current="page"]{
      border: 1px solid $primary-color;
    }

  }

}

// blog card


.blog-card{
  padding:20px;
  margin: 20px 0;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.061);


  &:hover{
    background: rgba(255, 255, 255, 0.061);
  }

  &:hover > h1 {
    text-decoration: underline;
  }

  & h1{
    margin-bottom: 5px;
    color: $primary-color;
    opacity: 1;
  }

  & .blog-hashtags{
    display: block;
    margin-bottom: 10px;

    & p{
      margin: 5px;
      color: $font-col1;
      background: $background;
      padding: 5px;
      border-radius: 4px;
      border: 1px solid rgba($color: $font-col1 , $alpha: .3) ;
      display: inline-block;
      font-size: .75rem;

      &:hover{
        color: $primary-color;
      }

    }

  }

  & p{
    color: rgba($color: $font-col1 , $alpha: .8);
  }

  hr{
    background: $primary-color;
  }

  & .blog-details{
    padding-top: 10px;
  }

}


// .blog-card{
//   background: rgba(255, 255, 255, 0.041);
//   padding:40px 20px;
//   margin-top: 20px;
//   border-radius: 16px;
//   border:2px solid rgba(255, 255, 255, 0.13);

//   &:hover{
//     background: rgba(255, 255, 255, 0.061);
//     border-image: linear-gradient(120deg , $primary-color , $secondary-color) 2% 2% stretch;
//   }

//   & h1{
//     margin-bottom: 5px;
//   }

//   & .blog-hashtags{
//     display: block;
//     margin-bottom: 10px;

//     & p{
//       margin: 5px;
//       color: $font-col1;
//       background: $background;
//       padding: 5px;
//       border-radius: 4px;
//       border: 1px solid rgba($color: $font-col1 , $alpha: .3) ;
//       display: inline-block;
//       font-size: .75rem;

//       &:hover{
//         color: $primary-color;
//       }

//     }

//   }


//   & p{
//     color: rgba($color: $font-col1 , $alpha: .8);
//   }

//   & .blog-length{
//     margin-top: 15px;
//     display: block;
//   }

//   & .blog-details{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     margin-top: 20px;
//     & a.blog-link{
//       font-weight: bold;
//       display: inline-block;
//       color: $primary-color;
//     }
//     & .blog-date{
//       margin-left: auto;
//     }
//   }
// }

// for home page featured 

.writing-section{
  padding:0 120px !important;
  @media (max-width:$md) {
    padding:0 60px !important;
  }
  @media (max-width:$sm) {
    padding:0 10px !important;
  }
}

.blog-card-home{
  // display: grid;
  // grid-template-columns: 1fr 1fr;

}

// ---------------------blog single ----------------------

.blog-single-hero{
  text-align: center;
  // background-image: url(//source.unsplash.com/random);
  background-size: cover;
  background-color: rgba($color: $background, $alpha: .7);
  background-blend-mode: multiply;
  padding: 120px 40px;

  & h2{
    margin-top: 20px;
  }

  & .blog-hashtags{
    display: block;
    margin-bottom: 10px;

    & a{
      margin: 5px;
      color: $font-col1;
      color: $font-col1;
      background: $background;
      padding: 5px;
      border-radius: 4px;
      border: 1px solid rgba($color: $font-col1 , $alpha: .3) ;
      display: inline-block;
      font-size: .75rem;

      &:hover{
        color: $primary-color;
      }

    }

  }

}

.blog-single-container{
  padding:60px 80px;
  display: grid;
  grid-template-columns: 10% 90%;

  @media(max-width:$md){
    padding:60px 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  & .blog-social-share{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    & .share-btn-group {
      position: sticky;
      top: 200px;
      & svg{
        display: block;
        margin: 5px 0;   
        max-width: 28px;     
      }
  
      @media(max-width:$md){
        // margin-top: 20px;
        // display: flex;
        // // flex-direction: row;
        // justify-content: center;
        position: fixed;
        right: -2px;
        bottom: 20px;
        top: unset;
        background: $background;
        border-radius: 8px;
        border: 1px solid $primary-color;

        & svg{
          margin: 5px 10px;
        }
      }
    }
  }

  & .blog-single-content{
    text-align: justify;

    & > div{
      scroll-margin-top: 120px;
    }

    & h1 , & h2 , & h3 , & h4 , & h5 , & h6{
      margin:10px 0;
      text-align: left;
      margin-top: 40px;
    } 

    & h1{
      font-size:2.4rem;  
    }
    
    & h2{
      font-size:2.2rem;  
    }
    
    & h3{
      font-size:2rem;  
    }

    & h4{
      font-size:1.8rem;  
    }

    & h5{
      font-size:1.4rem;  
    }

    & h6{
      font-size:1.2rem;  
    }

    & li{
      list-style: unset;
      color: rgba($color: $font-col1, $alpha: .74);
      margin: 2px 0;
    }

    & a{
      color: rgba($color: $font-col1, $alpha: .74);
      background-image: linear-gradient(0, #f07b3f 12%, transparent 20%);
    }

    & ul , & ol{
      margin: 20px 0 20px 40px;
      font-size: 1.15rem;
      line-height: 1.5;
      color: rgba($color: $font-col1, $alpha: .74);
      font-weight: 100 !important;
    }

    & li{
      font-weight: 100 !important;
    }

    & p{
      margin: 1rem 0;
      font-size: 1.15rem;
      line-height: 1.5;
      color: rgba($color: $font-col1, $alpha: .74);
      font-weight: 100 !important;
    }

    & img{
      padding: 20px;
      margin: 0 0 0 -10px;
      width: 100%;
    }

    & iframe{
      width: 600px !important;
      height: unset !important;
      max-width: 100% !important;
      aspect-ratio: 16/9 !important;
    }

    & blockquote{
      font-size: 1.15rem;
      line-height: 1.75;
      color: rgba($color: $font-col1, $alpha: .74);
      background: lighten($color: $background , $amount: 5);
    }

  }
}

.blog-indicator{
  background: linear-gradient(12deg , $primary-color , $secondary-color);
  height: 3px;
  width: 105vw;
  position: fixed;
  inset: 0;
  z-index: 9;
  transform: translateX(-100vw);
}

:not(pre)>code {
  background: lighten($background,10%);
  display: inline-block;
  padding: 0 .5em;
  font-family: monospace;
  font-size: .8em;
  border-radius: 4px;
}

// code > *{ just in case i need monospace in code snippets 
//   font-family: monospace !important;
// }


//-------- latest-blog-strip-container---------------

.latest-blog-strip-container{
  background: $background;
  border:1px solid transparent;
  display: grid;
  grid-template-columns: 20% 80%;
  width: 500px;
  position: fixed;
  right: 0;
  bottom: 0;
  border-image: linear-gradient(120deg , $primary-color , $secondary-color ) 2% 2% stretch;
  transform: translateY(100%);
  transition: 400ms ease-in-out;

  @media (max-width:$md) {
    width: 100%;
     grid-template-columns: 40% 60%;
  }

}

.show-blog-strip{
  transform: translateY(0);
}

.latest-blog-strip-container .strip-content{
  padding: 20px;
}

.latest-blog-strip-container span{
  font-size: 2rem;
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 10px;
}

.latest-blog-strip-container h2{
 font-size: 1.4rem;
 @media (max-width:$md) {
  font-size: .8rem;
 }
}

.latest-blog-strip-container #blog-strip-link{
  display: block;
  color: $primary-color;
  font-weight: bold;
  margin-top: 10px;
  @media (max-width:$md) {
    font-size: .6rem;
  }
}

// for syntax highlighting
/**
 * Coldark Theme for Prism.js
 * Theme variation: Dark
 * Tested with HTML, CSS, JS, JSON, PHP, YAML, Bash script
 * @author Armand Philippot <contact@armandphilippot.com>
 * @homepage https://github.com/ArmandPhilippot/coldark-prism
 * @license MIT
 */
 code[class*="language-"],
 pre[class*="language-"] {
   color: #e3eaf2;
   background: none;
   font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection,
 pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection,
 code[class*="language-"] ::-moz-selection {
   background: #3c526d;
 }
 
 pre[class*="language-"]::selection,
 pre[class*="language-"] ::selection,
 code[class*="language-"]::selection,
 code[class*="language-"] ::selection {
   background: #3c526d;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: 0.5em 0;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #111b27;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: 0.1em 0.3em;
   border-radius: 0.3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #8da1b9;
 }
 
 .token.punctuation {
   color: #e3eaf2;
 }
 
 .token.delimiter.important,
 .token.selector .parent,
 .token.tag,
 .token.tag .token.punctuation {
   color: #66cccc;
 }
 
 .token.attr-name,
 .token.boolean,
 .token.boolean.important,
 .token.number,
 .token.constant,
 .token.selector .token.attribute {
   color: #e6d37a;
 }
 
 .token.class-name,
 .token.key,
 .token.parameter,
 .token.property,
 .token.property-access,
 .token.variable {
   color: #6cb8e6;
 }
 
 .token.attr-value,
 .token.inserted,
 .token.color,
 .token.selector .token.value,
 .token.string,
 .token.string .token.url-link {
   color: #91d076;
 }
 
 .token.builtin,
 .token.keyword-array,
 .token.package,
 .token.regex {
   color: #f4adf4;
 }
 
 .token.function,
 .token.selector .token.class,
 .token.selector .token.id {
   color: #c699e3;
 }
 
 .token.atrule .token.rule,
 .token.combinator,
 .token.keyword,
 .token.operator,
 .token.pseudo-class,
 .token.pseudo-element,
 .token.selector,
 .token.unit {
   color: #e9ae7e;
 }
 
 .token.deleted,
 .token.important {
   color: #cd6660;
 }
 
 .token.keyword-this,
 .token.this {
   color: #6cb8e6;
 }
 
 .token.important,
 .token.keyword-this,
 .token.this,
 .token.bold {
   font-weight: bold;
 }
 
 .token.delimiter.important {
   font-weight: inherit;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .language-markdown .token.title,
 .language-markdown .token.title .token.punctuation {
   color: #6cb8e6;
   font-weight: bold;
 }
 
 .language-markdown .token.blockquote.punctuation {
   color: #f4adf4;
 }
 
 .language-markdown .token.code {
   color: #66cccc;
 }
 
 .language-markdown .token.hr.punctuation {
   color: #6cb8e6;
 }
 
 .language-markdown .token.url .token.content {
   color: #91d076;
 }
 
 .language-markdown .token.url-link {
   color: #e6d37a;
 }
 
 .language-markdown .token.list.punctuation {
   color: #f4adf4;
 }
 
 .language-markdown .token.table-header {
   color: #e3eaf2;
 }
 
 .language-json .token.operator {
   color: #e3eaf2;
 }
 
 .language-scss .token.variable {
   color: #66cccc;
 }
 
 /* overrides color-values for the Show Invisibles plugin
  * https://prismjs.com/plugins/show-invisibles/
  */
 .token.tab:not(:empty):before,
 .token.cr:before,
 .token.lf:before,
 .token.space:before {
   color: #8da1b9;
 }
 
 /* overrides color-values for the Toolbar plugin
  * https://prismjs.com/plugins/toolbar/
  */
 div.code-toolbar > .toolbar a,
 div.code-toolbar > .toolbar button {
   color: #111b27;
   background: #6cb8e6;
 }
 
 div.code-toolbar > .toolbar a:hover,
 div.code-toolbar > .toolbar a:focus,
 div.code-toolbar > .toolbar button:hover,
 div.code-toolbar > .toolbar button:focus {
   color: #111b27;
   background: #6cb8e6da;
   text-decoration: none;
 }
 
 div.code-toolbar > .toolbar span,
 div.code-toolbar > .toolbar span:hover,
 div.code-toolbar > .toolbar span:focus {
   color: #111b27;
   background: #8da1b9;
 }
 
 /* overrides color-values for the Line Highlight plugin
  * http://prismjs.com/plugins/line-highlight/
  */
 .line-highlight {
   background: #3c526d5f;
   background: linear-gradient(to right, #3c526d5f 70%, #3c526d55);
 }
 
 .line-highlight:before,
 .line-highlight[data-end]:after {
   background-color: #8da1b9;
   color: #111b27;
   box-shadow: 0 1px #3c526d;
 }
 
 pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
   background-color: #8da1b918;
 }
 
 /* overrides color-values for the Line Numbers plugin
  * http://prismjs.com/plugins/line-numbers/
  */
 .line-numbers .line-numbers-rows {
   border-right: 1px solid #0b121b;
   background: #0b121b7a;
 }
 
 .line-numbers-rows > span:before {
   color: #8da1b9da;
 }
 
 /* overrides color-values for the Match Braces plugin
  * https://prismjs.com/plugins/match-braces/
  */
 .rainbow-braces .token.punctuation.brace-level-1,
 .rainbow-braces .token.punctuation.brace-level-5,
 .rainbow-braces .token.punctuation.brace-level-9 {
   color: #e6d37a;
 }
 
 .rainbow-braces .token.punctuation.brace-level-2,
 .rainbow-braces .token.punctuation.brace-level-6,
 .rainbow-braces .token.punctuation.brace-level-10 {
   color: #f4adf4;
 }
 
 .rainbow-braces .token.punctuation.brace-level-3,
 .rainbow-braces .token.punctuation.brace-level-7,
 .rainbow-braces .token.punctuation.brace-level-11 {
   color: #6cb8e6;
 }
 
 .rainbow-braces .token.punctuation.brace-level-4,
 .rainbow-braces .token.punctuation.brace-level-8,
 .rainbow-braces .token.punctuation.brace-level-12 {
   color: #c699e3;
 }
 
 /* overrides color-values for the Diff Highlight plugin
  * https://prismjs.com/plugins/diff-highlight/
  */
 pre.diff-highlight > code .token.deleted:not(.prefix),
 pre > code.diff-highlight .token.deleted:not(.prefix) {
   background-color: #cd66601f;
 }
 
 pre.diff-highlight > code .token.inserted:not(.prefix),
 pre > code.diff-highlight .token.inserted:not(.prefix) {
   background-color: #91d0761f;
 }
 
 /* overrides color-values for the Command Line plugin
  * https://prismjs.com/plugins/command-line/
  */
 .command-line-prompt {
   border-right: 1px solid #0b121b;
 }
 
 .command-line-prompt > span:before {
   color: #8da1b9da;
 }
