
nav{
  background: #edefed;
  display: flex;


  & > *{
    background: wheat;
  }


  & .menu-section{
    margin-left: auto;
  }

}


ul{
  display: flex;
  justify-content: space-evenly;
}

ul li{
  margin: 10px 20px;
  list-style: none;
}