@font-face {
  font-family: 'Josefin Sans';
  src: url("/fonts/static/JosefinSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url("../fonts/static/JosefinSans-Light.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

:root {
  --xs:320px;
  --sm:480px;
  --md:768px;
  --lm:888px;
  --lg:992px;
  --xl:1200px;
  --xxl:1400px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #0c1118;
  cursor: url("../img/cursor1.png"), auto;
}

main {
  min-height: 80vh;
  padding-top: 80px;
}

button:hover, a:hover {
  cursor: url("../img/cursor2.png"), pointer !important;
}

section {
  padding: 60px 0;
  transition: 250ms ease-in-out;
  position: relative;
}

a {
  text-decoration: none;
}

p,
blockquote,
span,
a,
li {
  color: #fffaf5;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #fffaf5;
}

blockquote {
  border-left: 3px solid #f0783d;
  padding: 10px;
  margin: 20px 0;
}

.container {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.head_text {
  font-size: clamp(2.9rem, 7vw, 6rem);
  line-height: 1 !important;
}

.subhead_text {
  font-size: clamp(1.28rem, 2.8vw, 4rem);
  margin-bottom: 10px;
  margin-left: 5px;
}

.rainbow {
  color: #f8ba9b;
  font-weight: 700;
}

.social-svg-icon path {
  fill: #fffaf5;
}

.handwave {
  object-fit: contain;
  width: clamp(1.98rem, 3.5vw, 4.5rem);
}

@media (max-width: 888px) {
  .handwave {
    margin-bottom: -10px;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-weight: 700;
  outline: none;
  border: none;
  outline: 2px solid #f0783d;
  margin: 5px 0;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px #ffd561;
  color: #0c1118;
}

.btn:active {
  transition: 50ms ease-in-out !important;
  transform: translate(5px, 5px);
  box-shadow: 2px 2px 0px 0px #ffd561;
}

@media (max-width: 768px) {
  .btn {
    padding: 1rem 1.2rem;
  }
}

.btn-primary {
  background: #f0783d;
}

.btn-primary:hover {
  background: #ee6520;
}

.btn-outline {
  background: transparent;
  color: #fffaf5;
}

.btn-outline:hover {
  background: #fffaf5;
  color: #0c1118;
  outline-color: #fffaf5;
}

.btn-link {
  display: block;
  text-align: center;
  margin-top: 40px;
  color: #f0783d;
}

.swal-modal {
  background: rgba(24, 30, 38, 0.714);
}

.swal-modal .swal-text {
  color: #fffaf5 !important;
}

.swal-modal .swal-button {
  background: #f0783d;
}

.swal-modal .swal-button:hover {
  background: linear-gradient(12deg, #f0783d, #ffd561);
}

.bokey {
  position: absolute;
  width: 40vw;
  height: 40vh;
  background: radial-gradient(92.55% 92.55% at 60.95% 7.45%, #ffd561 0%, #f0783d 95.31%);
  filter: blur(253px);
  z-index: -1;
}

@media (min-width: 1400px) {
  .bokey {
    opacity: .2;
  }
}

.bokey1 {
  right: 0;
  bottom: 0;
}

.bokey2 {
  left: 0;
  bottom: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.preloader {
  background: #0c1118;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 44;
  display: grid;
  place-items: center;
}

.preloader .preloader-circle {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  padding: 1px;
  background: linear-gradient(12deg, #f0783d, #ffd561);
  z-index: 55;
  animation: pulse ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: 20;
}

nav {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #552106;
  background-color: rgba(24, 30, 38, 0.714);
  backdrop-filter: blur(40px);
}

nav > div {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px !important;
}

@media (max-width: 768px) {
  nav > div {
    padding: 20px 20px !important;
  }
}

nav > div .logo {
  display: flex;
  width: 15rem;
  z-index: 2;
}

nav > div .logo img {
  max-width: 70%;
}

nav > div .menu {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  nav > div .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0c1118;
    color: #0c1118;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    transform: translateX(-100%) translateY(-20%);
    transition: 250ms ease-in-out;
  }
  nav > div .menu p {
    margin: 10px 0 !important;
  }
  nav > div .menu p a {
    font-size: 1.75rem;
  }
  nav > div .menu.show-menu {
    transform: translateX(0) translateY(0);
  }
}

nav > div .menu p {
  padding: 10px;
  margin: 0 10px;
  font-weight: 400;
}

nav > div .hamburger {
  display: none;
  z-index: 2;
}

@media (max-width: 768px) {
  nav > div .hamburger {
    display: block;
  }
}

nav > div .hamburger .line {
  height: 3px;
  width: 35px;
  background: #fffaf5;
  margin: 8px;
  display: flex;
  transition: 250ms ease-in-out;
}

nav > div .active {
  transform: translateY(-10px);
}

nav > div .active .line1 {
  transform: translateY(22px) rotate(45deg);
}

nav > div .active .line2 {
  transform: translateY(10px);
  opacity: 0;
}

nav > div .active .line3 {
  transform: rotate(-45deg);
}

.hero {
  padding: 80px 60px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 60px 10px;
  }
}

.hero .hero-left .my-title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 15px;
  margin: 20px 0 40px 0;
}

.hero .hero-left .btn-outline {
  margin-left: 10px !important;
}

.hero .hero-right {
  flex: 1;
}

.hero .hero-right .social-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .hero .hero-right .social-box {
    margin-top: 60px;
    flex-direction: row;
  }
}

.hero .hero-right .social-box svg {
  margin: 5px;
  background: transparent;
  transition: 200ms ease-in-out !important;
}

.hero .hero-right .social-box svg:hover {
  transform: scale(1.2);
}

.work {
  position: relative;
}

.work .work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work .work-container .work-card {
  max-width: 350px;
  border: 1px solid rgba(255, 250, 245, 0.15);
  margin: 20px;
}

.work .work-container .work-card:hover {
  background: #0f161f;
  box-shadow: 10px 10px 0px 0px rgba(255, 213, 97, 0.157);
  border-image: linear-gradient(120deg, #f0783d, #ffd561) 2% 2% stretch;
}

.work .work-container .work-card .work-img img {
  max-width: 100%;
  object-fit: contain;
}

.work .work-container .work-card .work-content {
  padding: 20px;
}

.work .work-container .work-card .work-content h1 {
  font-size: 1.75rem;
}

.work .work-container .work-card .work-content p {
  display: block;
  margin-top: 10px !important;
  opacity: .7;
}

.tech-stack .tech-stack-container {
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  text-align: center;
}

.tech-stack .tech-stack-container img {
  object-fit: contain;
  margin: 15px 10px;
}

@media (max-width: 1200px) {
  .tech-stack .tech-stack-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 992px) {
  .tech-stack .tech-stack-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .tech-stack .tech-stack-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .tech-stack .tech-stack-container img {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .tech-stack .tech-stack-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.testimonials .testimonial-slider .testimonial-slide {
  padding: 60px 40px;
  background: rgba(24, 30, 38, 0.714);
  position: relative;
  max-width: 800px;
  margin: 10px auto;
  border: 1px transparent solid;
}

.testimonials .testimonial-slider .testimonial-slide:hover {
  border-image: linear-gradient(120deg, #f0783d, #ffd561) 2% 2% stretch !important;
}

.testimonials .testimonial-slider .testimonial-slide h4 {
  opacity: .8 !important;
}

.testimonials .testimonial-slider .testimonial-slide h2 {
  font-size: clamp(1.25rem, 2vw, 3rem);
  margin-top: 20px;
}

.testimonials .testimonial-slider .testimonial-slide img {
  position: absolute;
  max-height: 80%;
  right: 5%;
  top: 5%;
}

.contact {
  scroll-margin-top: 80px;
}

.contact .contact-container {
  margin: 0 auto;
  text-align: center;
}

.contact .contact-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 120px;
}

@media (max-width: 888px) {
  .contact .contact-container form {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .contact .contact-container form {
    padding: 0 20px;
  }
}

.contact .contact-container form .all-input-container {
  display: flex;
  flex-direction: column;
}

.contact .contact-container form .all-input-container .input-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .contact .contact-container form .all-input-container .input-container {
    flex-direction: column;
  }
}

.contact .contact-container form .all-input-container .input-container input {
  flex: 1;
  padding: 10px 20px;
  background: #111822;
  outline: none;
  border: 2px solid rgba(255, 250, 245, 0.15);
  margin: 5px;
  color: #fffaf5;
}

.contact .contact-container form .all-input-container textarea {
  padding: 10px 20px;
  margin: 5px;
  outline: none;
  color: #fffaf5;
  border: 2px solid rgba(255, 250, 245, 0.15);
  background: #111822;
}

.contact .contact-container form button {
  background: #111822;
  outline: none;
  border: 2px solid rgba(255, 250, 245, 0.15);
  color: #fffaf5;
  font-weight: 700;
  cursor: pointer;
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.contact .contact-container form button:hover {
  background: #151d29;
}

@media (max-width: 888px) {
  .contact .contact-container form button {
    padding: 10px 20px;
    margin: 5px;
  }
}

footer {
  background: rgba(24, 30, 38, 0.714);
  padding: 40px 20px !important;
}

footer .footer-content p {
  text-align: center;
}

footer .footer-content p .highlight {
  color: #f0783d;
}

footer .footer-content .footer-socials {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

footer .footer-content .footer-socials svg {
  margin: 4px 6px;
  max-width: 2rem;
}

.greeting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: grid;
  place-items: center;
  background: #0c1118;
  text-align: center;
  transform: translateY(-100%);
  transition: 250ms ease-in-out;
}

.greeting img {
  aspect-ratio: 1;
  min-width: 70%;
  max-width: 80vw;
}

.greeting h1 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.greeting .close {
  position: fixed;
  top: 50px;
  right: 50px;
  color: #fffaf5;
  font-size: 5rem;
  transform: rotate(45deg);
  cursor: url("../img/cursor2.png"), pointer !important;
}

.show-greeting {
  transform: translateY(0);
}

.long-shadow {
  text-shadow: 0px 0px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black, 21px 21px black, 22px 22px black, 23px 23px black, 24px 24px black, 25px 25px black, 26px 26px black, 27px 27px black, 28px 28px black, 29px 29px black, 30px 30px black, 31px 31px black, 32px 32px black, 33px 33px black, 34px 34px black, 35px 35px black, 36px 36px black, 37px 37px black, 38px 38px black, 39px 39px black, 40px 40px black, 41px 41px black, 42px 42px black, 43px 43px black, 44px 44px black, 45px 45px black, 46px 46px black, 47px 47px black, 48px 48px black, 49px 49px black, 50px 50px black, 51px 51px black, 52px 52px black, 53px 53px black, 54px 54px black, 55px 55px black, 56px 56px black, 57px 57px black, 58px 58px black, 59px 59px black, 60px 60px black, 61px 61px black, 62px 62px black, 63px 63px black, 64px 64px black, 65px 65px black, 66px 66px black, 67px 67px black, 68px 68px black, 69px 69px black, 70px 70px black, 71px 71px black, 72px 72px black, 73px 73px black, 74px 74px black, 75px 75px black, 76px 76px black, 77px 77px black, 78px 78px black, 79px 79px black, 80px 80px black, 81px 81px black, 82px 82px black, 83px 83px black, 84px 84px black, 85px 85px black, 86px 86px black, 87px 87px black, 88px 88px black, 89px 89px black, 90px 90px black, 91px 91px black, 92px 92px black, 93px 93px black, 94px 94px black, 95px 95px black, 96px 96px black, 97px 97px black, 98px 98px black, 99px 99px black, 100px 100px black, 101px 101px black, 102px 102px black, 103px 103px black, 104px 104px black, 105px 105px black, 106px 106px black, 107px 107px black, 108px 108px black, 109px 109px black, 110px 110px black, 111px 111px black, 112px 112px black, 113px 113px black, 114px 114px black, 115px 115px black, 116px 116px black, 117px 117px black, 118px 118px black, 119px 119px black, 120px 120px black, 121px 121px black, 122px 122px black, 123px 123px black, 124px 124px black, 125px 125px black, 126px 126px black, 127px 127px black, 128px 128px black, 129px 129px black, 130px 130px black, 131px 131px black, 132px 132px black, 133px 133px black, 134px 134px black, 135px 135px black, 136px 136px black, 137px 137px black, 138px 138px black, 139px 139px black, 140px 140px black, 141px 141px black, 142px 142px black, 143px 143px black, 144px 144px black, 145px 145px black, 146px 146px black, 147px 147px black, 148px 148px black, 149px 149px black, 150px 150px black, 151px 151px black, 152px 152px black, 153px 153px black, 154px 154px black, 155px 155px black, 156px 156px black, 157px 157px black, 158px 158px black, 159px 159px black, 160px 160px black, 161px 161px black, 162px 162px black, 163px 163px black, 164px 164px black, 165px 165px black, 166px 166px black, 167px 167px black, 168px 168px black, 169px 169px black, 170px 170px black, 171px 171px black, 172px 172px black, 173px 173px black, 174px 174px black, 175px 175px black, 176px 176px black, 177px 177px black, 178px 178px black, 179px 179px black, 180px 180px black, 181px 181px black, 182px 182px black, 183px 183px black, 184px 184px black, 185px 185px black, 186px 186px black, 187px 187px black, 188px 188px black, 189px 189px black, 190px 190px black, 191px 191px black, 192px 192px black, 193px 193px black, 194px 194px black, 195px 195px black, 196px 196px black, 197px 197px black, 198px 198px black, 199px 199px black, 200px 200px black;
  color: #fffaf5;
  overflow: hidden;
}

.rotate {
  display: inline-block;
  animation: rotation 4s infinite linear !important;
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(359deg);
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #f0a23d #0c1118;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #0c1118;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0a23d;
  border-radius: 10px;
  border: 0px solid #fffaf5;
}

.about-hero .about-hero-container {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  padding: 10px 70px;
}

@media (max-width: 888px) {
  .about-hero .about-hero-container {
    display: flex;
    flex-direction: column;
  }
  .about-hero .about-hero-container .about-hero-image {
    margin-top: 20px;
  }
}

.about-hero .about-hero-container .about-hero-image {
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 10px 10px #f0783d;
}

.about-hero .about-hero-container .about-hero-image img {
  max-width: 100%;
  border-radius: 16px;
}

.about-hero .about-hero-container .about-hero-image img:hover {
  transform: translate(5px, 5px);
}

.about-hero .about-hero-container .about-hero-image:hover {
  box-shadow: 10px 5px #f0a23d;
}

.blogs-hero {
  padding: 60px 20px;
  background: rgba(24, 30, 38, 0.714);
}

.blogs-hero h1 {
  text-align: center;
  padding-bottom: 30px;
}

.blog-list-section .blog-list-container {
  padding: 0 150px;
}

@media (max-width: 768px) {
  .blog-list-section .blog-list-container {
    padding: 0 50px;
  }
}

@media (max-width: 480px) {
  .blog-list-section .blog-list-container {
    padding: 0 0 !important;
  }
}

.blog-list-section .pagination {
  margin: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.blog-list-section .pagination p {
  color: #6b6b6b;
}

.blog-list-section .pagination a {
  margin: 10px 5px;
  padding: 10px 15px;
  background: #111822;
  color: #f0783d;
  font-weight: bold;
}

.blog-list-section .pagination a[aria-current="page"] {
  border: 1px solid #f0783d;
}

.blog-card {
  padding: 20px;
  margin: 20px 0;
  border-radius: 16px;
  border: 2px solid rgba(255, 250, 245, 0.15);
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.blog-card:hover {
  background: #151d29;
}

.blog-card:hover > h1 {
  text-decoration: underline;
}

.blog-card h1 {
  margin-bottom: 5px;
  color: #f0783d;
  opacity: 1;
}

.blog-card .blog-hashtags {
  display: block;
  margin-bottom: 10px;
}

.blog-card .blog-hashtags p {
  margin: 5px;
  color: #fffaf5;
  background: #0c1118;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgba(255, 250, 245, 0.15);
  display: inline-block;
  font-size: .75rem;
}

.blog-card .blog-hashtags p:hover {
  color: #f0783d;
}

.blog-card p {
  color: #fffaf5;
}

.blog-card hr {
  background: #f0783d;
}

.blog-card .blog-details {
  padding-top: 10px;
}

.writing-section {
  padding: 0 120px !important;
}

@media (max-width: 768px) {
  .writing-section {
    padding: 0 60px !important;
  }
}

@media (max-width: 480px) {
  .writing-section {
    padding: 0 10px !important;
  }
}

.blog-single-hero {
  text-align: center;
  background-size: cover;
  background-color: rgba(12, 17, 24, 0.527);
  background-blend-mode: color !important;
  padding: 120px 40px;
}

.blog-single-hero h2 {
  margin-top: 20px;
}

.blog-single-hero .blog-hashtags {
  display: block;
  margin-bottom: 10px;
}

.blog-single-hero .blog-hashtags a {
  margin: 5px;
  color: #fffaf5;
  color: #fffaf5;
  background: #0c1118;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgba(255, 250, 245, 0.15);
  display: inline-block;
  font-size: .75rem;
}

.blog-single-hero .blog-hashtags a:hover {
  color: #f0783d;
}

.blog-single-container {
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 10% 90%;
}

@media (max-width: 768px) {
  .blog-single-container {
    padding: 60px 20px;
    display: flex;
    flex-direction: column-reverse;
  }
}

.blog-single-container .blog-social-share {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-single-container .blog-social-share .share-btn-group {
  position: sticky;
  top: 200px;
}

.blog-single-container .blog-social-share .share-btn-group svg {
  display: block;
  margin: 5px 0;
  max-width: 28px;
}

@media (max-width: 768px) {
  .blog-single-container .blog-social-share .share-btn-group {
    position: fixed;
    right: -2px;
    bottom: 20px;
    top: unset;
    background: #0c1118;
    border-radius: 8px;
    border: 1px solid #f0783d;
  }
  .blog-single-container .blog-social-share .share-btn-group svg {
    margin: 5px 10px;
  }
}

.blog-single-container .blog-single-content {
  text-align: justify;
}

.blog-single-container .blog-single-content > div {
  scroll-margin-top: 120px;
}

.blog-single-container .blog-single-content h1, .blog-single-container .blog-single-content h2, .blog-single-container .blog-single-content h3, .blog-single-container .blog-single-content h4, .blog-single-container .blog-single-content h5, .blog-single-container .blog-single-content h6 {
  margin: 10px 0;
  text-align: left;
  margin-top: 40px;
}

.blog-single-container .blog-single-content h1 {
  font-size: 2.4rem;
}

.blog-single-container .blog-single-content h2 {
  font-size: 2.2rem;
}

.blog-single-container .blog-single-content h3 {
  font-size: 2rem;
}

.blog-single-container .blog-single-content h4 {
  font-size: 1.8rem;
}

.blog-single-container .blog-single-content h5 {
  font-size: 1.4rem;
}

.blog-single-container .blog-single-content h6 {
  font-size: 1.2rem;
}

.blog-single-container .blog-single-content li {
  list-style: unset;
  color: #fffaf5;
  margin: 2px 0;
}

.blog-single-container .blog-single-content a {
  color: #fffaf5;
  background-image: linear-gradient(0, #f0783d 12%, transparent 20%);
}

.blog-single-container .blog-single-content ul, .blog-single-container .blog-single-content ol {
  margin: 20px 0 20px 40px;
  font-size: 1.15rem;
  line-height: 1.5;
  color: #fffaf5;
  font-weight: 400 !important;
}

.blog-single-container .blog-single-content li {
  font-weight: 400 !important;
}

.blog-single-container .blog-single-content p {
  margin: 1rem 0;
  font-size: 1.15rem;
  line-height: 1.5;
  color: #fffaf5;
  font-weight: 400 !important;
}

.blog-single-container .blog-single-content img {
  padding: 20px;
  margin: 0 0 0 -10px;
  width: 100%;
}

.blog-single-container .blog-single-content iframe {
  width: 600px !important;
  height: unset !important;
  max-width: 100% !important;
  aspect-ratio: 16/9 !important;
}

.blog-single-container .blog-single-content blockquote {
  font-size: 1.15rem;
  line-height: 1.75;
  color: #fffaf5;
  background: #0f161f;
}

.blog-indicator {
  background: linear-gradient(12deg, #f0783d, #ffd561);
  height: 3px;
  width: 105vw;
  position: fixed;
  inset: 0;
  z-index: 9;
  transform: translateX(-100vw);
}

:not(pre) > code {
  background: #1d293a;
  display: inline-block;
  padding: 0 .5em;
  font-family: monospace;
  font-size: .8em;
  border-radius: 4px;
}

.latest-blog-strip-container {
  background: #0c1118;
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 20% 80%;
  width: 500px;
  position: fixed;
  right: 0;
  bottom: 0;
  border-image: linear-gradient(120deg, #f0783d, #ffd561) 2% 2% stretch;
  transform: translateY(100%);
  transition: 400ms ease-in-out;
}

@media (max-width: 768px) {
  .latest-blog-strip-container {
    width: 100%;
    grid-template-columns: 40% 60%;
  }
}

.show-blog-strip {
  transform: translateY(0);
}

.latest-blog-strip-container .strip-content {
  padding: 20px;
}

.latest-blog-strip-container span {
  font-size: 2rem;
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 10px;
}

.latest-blog-strip-container h2 {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .latest-blog-strip-container h2 {
    font-size: .8rem;
  }
}

.latest-blog-strip-container #blog-strip-link {
  display: block;
  color: #f0783d;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .latest-blog-strip-container #blog-strip-link {
    font-size: .6rem;
  }
}

/**
 * Coldark Theme for Prism.js
 * Theme variation: Dark
 * Tested with HTML, CSS, JS, JSON, PHP, YAML, Bash script
 * @author Armand Philippot <contact@armandphilippot.com>
 * @homepage https://github.com/ArmandPhilippot/coldark-prism
 * @license MIT
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #e3eaf2;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: #3c526d;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: #3c526d;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #111b27;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8da1b9;
}

.token.punctuation {
  color: #e3eaf2;
}

.token.delimiter.important,
.token.selector .parent,
.token.tag,
.token.tag .token.punctuation {
  color: #66cccc;
}

.token.attr-name,
.token.boolean,
.token.boolean.important,
.token.number,
.token.constant,
.token.selector .token.attribute {
  color: #e6d37a;
}

.token.class-name,
.token.key,
.token.parameter,
.token.property,
.token.property-access,
.token.variable {
  color: #6cb8e6;
}

.token.attr-value,
.token.inserted,
.token.color,
.token.selector .token.value,
.token.string,
.token.string .token.url-link {
  color: #91d076;
}

.token.builtin,
.token.keyword-array,
.token.package,
.token.regex {
  color: #f4adf4;
}

.token.function,
.token.selector .token.class,
.token.selector .token.id {
  color: #c699e3;
}

.token.atrule .token.rule,
.token.combinator,
.token.keyword,
.token.operator,
.token.pseudo-class,
.token.pseudo-element,
.token.selector,
.token.unit {
  color: #e9ae7e;
}

.token.deleted,
.token.important {
  color: #cd6660;
}

.token.keyword-this,
.token.this {
  color: #6cb8e6;
}

.token.important,
.token.keyword-this,
.token.this,
.token.bold {
  font-weight: bold;
}

.token.delimiter.important {
  font-weight: inherit;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.language-markdown .token.title,
.language-markdown .token.title .token.punctuation {
  color: #6cb8e6;
  font-weight: bold;
}

.language-markdown .token.blockquote.punctuation {
  color: #f4adf4;
}

.language-markdown .token.code {
  color: #66cccc;
}

.language-markdown .token.hr.punctuation {
  color: #6cb8e6;
}

.language-markdown .token.url .token.content {
  color: #91d076;
}

.language-markdown .token.url-link {
  color: #e6d37a;
}

.language-markdown .token.list.punctuation {
  color: #f4adf4;
}

.language-markdown .token.table-header {
  color: #e3eaf2;
}

.language-json .token.operator {
  color: #e3eaf2;
}

.language-scss .token.variable {
  color: #66cccc;
}

/* overrides color-values for the Show Invisibles plugin
  * https://prismjs.com/plugins/show-invisibles/
  */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
  color: #8da1b9;
}

/* overrides color-values for the Toolbar plugin
  * https://prismjs.com/plugins/toolbar/
  */
div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button {
  color: #111b27;
  background: #6cb8e6;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus {
  color: #111b27;
  background: #6cb8e6da;
  text-decoration: none;
}

div.code-toolbar > .toolbar span,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: #111b27;
  background: #8da1b9;
}

/* overrides color-values for the Line Highlight plugin
  * http://prismjs.com/plugins/line-highlight/
  */
.line-highlight {
  background: #3c526d5f;
  background: linear-gradient(to right, #3c526d5f 70%, #3c526d55);
}

.line-highlight:before,
.line-highlight[data-end]:after {
  background-color: #8da1b9;
  color: #111b27;
  box-shadow: 0 1px #3c526d;
}

pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
  background-color: #8da1b918;
}

/* overrides color-values for the Line Numbers plugin
  * http://prismjs.com/plugins/line-numbers/
  */
.line-numbers .line-numbers-rows {
  border-right: 1px solid #0b121b;
  background: #0b121b7a;
}

.line-numbers-rows > span:before {
  color: #8da1b9da;
}

/* overrides color-values for the Match Braces plugin
  * https://prismjs.com/plugins/match-braces/
  */
.rainbow-braces .token.punctuation.brace-level-1,
.rainbow-braces .token.punctuation.brace-level-5,
.rainbow-braces .token.punctuation.brace-level-9 {
  color: #e6d37a;
}

.rainbow-braces .token.punctuation.brace-level-2,
.rainbow-braces .token.punctuation.brace-level-6,
.rainbow-braces .token.punctuation.brace-level-10 {
  color: #f4adf4;
}

.rainbow-braces .token.punctuation.brace-level-3,
.rainbow-braces .token.punctuation.brace-level-7,
.rainbow-braces .token.punctuation.brace-level-11 {
  color: #6cb8e6;
}

.rainbow-braces .token.punctuation.brace-level-4,
.rainbow-braces .token.punctuation.brace-level-8,
.rainbow-braces .token.punctuation.brace-level-12 {
  color: #c699e3;
}

/* overrides color-values for the Diff Highlight plugin
  * https://prismjs.com/plugins/diff-highlight/
  */
pre.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
  background-color: #cd66601f;
}

pre.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight .token.inserted:not(.prefix) {
  background-color: #91d0761f;
}

/* overrides color-values for the Command Line plugin
  * https://prismjs.com/plugins/command-line/
  */
.command-line-prompt {
  border-right: 1px solid #0b121b;
}

.command-line-prompt > span:before {
  color: #8da1b9da;
}
