/* containers */

.container{
  text-align: center;
  max-width: 1500px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

@media(max-width:768px) {
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}