---
title: Blog Single
layout: 'base.njk'
---

<main>

  <section class="blog-single-hero">
    <h1 class="head_text">Best CSS Practices I Follow</h1>
    <h2 class="subhead_text">Kunal Singh</h2>
    <p style="margin-top: 20px;" class="rainbow">26th June 2021</p>
  </section>

  <section class="blog-single-container container">
    <div class="blog-social-share">
      <a href="https://www.linkedin.com/in/singhkunal2050" target="_blank"> <img class="long-shadow"
          src="/img/Vector.svg" loading="lazy" alt="linkedin"> </a>
      <a href="https://instagram.com/singhkunal2050" target="_blank"> <img class="long-shadow" src="/img/Vector-1.svg"
          loading="lazy" alt="instagram"> </a>
      <a href="https://github.com/singhkunal2050" target="_blank"> <img class="long-shadow" src="/img/Vector-2.svg"
          loading="lazy" alt="github"> </a>
      <a href="https://twitter.com/singhkunal2050" target="_blank"> <img class="long-shadow" src="/img/Vector-3.svg"
          loading="lazy" alt="twitter"> </a>
    </div>

    <div class="blog-single-content">
      <p>
        It Has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
        Malorum" (The Extremes of Good and Evil) by
      </p>

      <p>
        It Has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
        Malorum" (The Extremes of Good and Evil) byIt Has roots in a piece of classical Latin literature from 45 BC,
        making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
        looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the
        cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
        1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) byIt Has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor
        at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
        Good and Evil) by
      </p>

      <p>
        It Has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
        words, consectetur, from a Lorem Ipsum passage, and going through the cites of

        An essay is a reflection of the writer’s ideas. It should be a prolific piece of writing. It should be
        meaningful, rational, logical, thoughtful, convincing and appealing to a reader. It depends upon the power of
        you creativity, your knowledge about the topic and the way you express your ideas. Even if you do not have much
        prior knowledge about the topic, if you have the power creativity of ideas and presentational skills, you can do
        well in essay writing.

        An essay is a reflection of the writer’s ideas. It should be a prolific piece of writing. It should be
        meaningful, rational, logical, thoughtful, convincing and appealing to a reader. It depends upon the power of
        you creativity, your knowledge about the topic and the way you express your ideas. Even if you do not have much
        prior knowledge about the topic, if you have the power creativity of ideas and presentational skills, you can do
        well in essay writing.

        An essay is a reflection of the writer’s ideas. It should be a prolific piece of writing. It should be
        meaningful, rational, logical, thoughtful, convincing and appealing to a reader. It depends upon the power of
        you creativity, your knowledge about the topic and the way you express your ideas. Even if you do not have much
        prior knowledge about the topic, if you have the power creativity of ideas and presentational skills, you can do
        well in essay writing.
      </p>

      <p> 
        It Has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
        Malorum" (The Extremes of Good and Evil) b
      </p>

      <blockquote>
        Kunal Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolores architecto iusto veritatis nihil aliquid labore distinctio sed pariatur modi blanditiis soluta unde, tempore sit amet. Aliquid autem, adipisci rem odio in dolorem voluptatum sunt accusantium. Repudiandae voluptatum asperiores ea.
      </blockquote>

      <p>
        It Has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
        Malorum" (The Extremes of Good and Evil) byIt Has roots in a piece of classical Latin literature from 45 BC,
        making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
        looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the
        cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
        1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) byIt Has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor
        at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
        Good and Evil) by
      </p>

      <p>
        It Has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
        words, consectetur, from a Lorem Ipsum passage, and going through the cites of

        An essay is a reflection of the writer’s ideas. It should be a prolific piece of writing. It should be
        meaningful, rational, logical, thoughtful, convincing and appealing to a reader. It depends upon the power of
        you creativity, your knowledge about the topic and the way you express your ideas. Even if you do not have much
        prior knowledge about the topic, if you have the power creativity of ideas and presentational skills, you can do
        well in essay writing.

        An essay is a reflection of the writer’s ideas. It should be a prolific piece of writing. It should be
        meaningful, rational, logical, thoughtful, convincing and appealing to a reader. It depends upon the power of
        you creativity, your knowledge about the topic and the way you express your ideas. Even if you do not have much
        prior knowledge about the topic, if you have the power creativity of ideas and presentational skills, you can do
        well in essay writing.

        An essay is a reflection of the writer’s ideas. It should be a prolific piece of writing. It should be
        meaningful, rational, logical, thoughtful, convincing and appealing to a reader. It depends upon the power of
        you creativity, your knowledge about the topic and the way you express your ideas. Even if you do not have much
        prior knowledge about the topic, if you have the power creativity of ideas and presentational skills, you can do
        well in essay writing.
      </p>


    </div>
  </section>

</main>