---
title: Blogs
layout: 'base.njk'
---

<main>
  
  <section class="blogs-hero">
    
    <h1 class="head_text long-shadow"> <span class="head_text rainbow">Blogs</span> and Tips</h1>

  </section>

  <section class="blog-list-section">
    <div class="blog-list-container container">

      <div class="blog-card">
        <h1 class="blog-title subhead_text">Best CSS Practices I Follow</h1>
        <p class="blog-description">It  has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin wor...</p>
        <a href="#" class="blog-link">Read  Article </a>
      </div>
      <div class="blog-card">
        <h1 class="blog-title subhead_text">Best CSS Practices I Follow</h1>
        <p class="blog-description">It  has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin wor...</p>
        <a href="#" class="blog-link">Read  Article </a>
      </div>
      <div class="blog-card">
        <h1 class="blog-title subhead_text">Best CSS Practices I Follow</h1>
        <p class="blog-description">It  has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin wor...</p>
        <a href="#" class="blog-link">Read  Article </a>
      </div>
      <div class="blog-card">
        <h1 class="blog-title subhead_text">Best CSS Practices I Follow</h1>
        <p class="blog-description">It  has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin wor...</p>
        <a href="#" class="blog-link">Read  Article </a>
      </div>
      <div class="blog-card">
        <h1 class="blog-title subhead_text">Best CSS Practices I Follow</h1>
        <p class="blog-description">It  has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin wor...</p>
        <a href="#" class="blog-link">Read  Article </a>
      </div>
      <div class="blog-card">
        <h1 class="blog-title subhead_text">Best CSS Practices I Follow</h1>
        <p class="blog-description">It  has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin wor...</p>
        <a href="#" class="blog-link">Read  Article </a>
      </div>
      <div class="blog-card">
        <h1 class="blog-title subhead_text">Best CSS Practices I Follow</h1>
        <p class="blog-description">It  has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin wor...</p>
        <a href="#" class="blog-link">Read  Article </a>
      </div>


    </div>
  </section>


</main>
