---
title: singhkunal2050
description: I am a Creative Web Developer based in Pune
layout: 'base.njk'
---

<main>

  <div class="container">

    <section class="hero skew">

      <div class="hero-left">
        <h2 class="subhead_text">Hello World <img class="handwave" src="./img/hand-wave.gif" height="45" width="54" alt="hand wave"
            loading="lazy"> <span style="display: none;" class="subhead_text rotate">🌎</span></h2>
        <h1 class="head_text long-shadow">I am a <span class="rainbow head_text">Creative</span><br>
          Web Developer 🦄</h1>
        <h3 class="my-title">Kunal Singh</h3>
        <a href="#contact" class="btn btn-primary">Let's Connect</a>
        <a href="https://drive.google.com/file/d/1ZfWdf3TV5GSaLfdxGtt92guhSccnxVgg/view" target="_blank"
          class="btn btn-outline">My Resume</a>
      </div>

      <div class="hero-right ">
        <div class="social-box">
          <a href="https://www.linkedin.com/in/singhkunal2050" target="_blank"> <img class="long-shadow"
              src="./img/Vector.svg" loading="lazy" height="40" width="40" alt="linkedin"> </a>
          <a href="https://github.com/singhkunal2050" target="_blank"> <img class="long-shadow" src="./img/Vector-2.svg"
              loading="lazy" height="40" width="40" alt="github"> </a>
          <a href="https://twitter.com/singhkunal2050" target="_blank"> <img class="long-shadow"
              src="./img/Vector-3.svg" loading="lazy" height="40" width="40" alt="twitter"> </a>
          <a href="https://instagram.com/singhkunal2050" target="_blank"> <img class="long-shadow"
              src="./img/Vector-1.svg" loading="lazy" height="40" width="40" alt="instagram"> </a>
        </div>
      </div>

      <!-- bokey  -->
      <div class="bokey bokey1"></div>

    </section>

    <section class="work skew">

      <h1 class="head_text" style="text-align: center; padding-bottom: 40px;">Selected <span
          class="rainbow head_text">Work</span></h1>

      <div class="work-container">

        {# <a href="https://uiuxdesignschool.in/" target="_blank">
          <div class="work-card">
            <div class="work-img">
              <img src="./img/work/1.webp" loading="lazy" width="333" height="177" alt="UI UX Design School">
            </div>
            <div class="work-content">
              <h1>UI UX Design School</h1>
              <p>uiuxdesignschool.in/</p>
            </div>
          </div>
        </a>

        <a href="https://internmeets.com/" target="_blank">
          <div class="work-card">
            <div class="work-img">
              <img src="./img/work/2.webp" loading="lazy" width="333" height="177" alt="Internmeets">
            </div>
            <div class="work-content">
              <h1>Internmeets</h1>
              <p> internmeets.com/</p>
            </div>
          </div>
        </a>

        <a href="http://www.quickauto.co.in/" target="_blank">
          <div class="work-card">
            <div class="work-img">
              <img src="./img/work/3.webp" loading="lazy" width="333" height="177" alt="Quick Auto Services">
            </div>
            <div class="work-content">
              <h1>Quick Auto Services</h1>
              <p>quickauto.co.in</p>
            </div>
          </div>
        </a>

        <a href="https://brandneev.in/" target="_blank">
          <div class="work-card">
            <div class="work-img">
              <img src="./img/work/4.webp" loading="lazy" width="333" height="177" alt="BrandNeev">
            </div>
            <div class="work-content">
              <h1>BrandNeev</h1>
              <p>brandneev.in</p>
            </div>
          </div>
        </a>

        <a href="https://www.antrikshglobal.com/" target="_blank">
          <div class="work-card">
            <div class="work-img">
              <img src="./img/work/5.webp" loading="lazy" width="333" height="177" alt="Antriksh Global">
            </div>
            <div class="work-content">
              <h1>Antriksh Global</h1>
              <p>antrikshglobal.com</p>
            </div>
          </div>
        </a>

        <a href="https://mahendrasolankiarts.com/" target="_blank">
          <div class="work-card">
            <div class="work-img">
              <img src="./img/work/6.webp" loading="lazy" width="333" height="177" alt="Mahendra Solanki Arts">
            </div>
            <div class="work-content">
              <h1>Mahendra Solanki Arts</h1>
              <p>mahendrasolankiarts.com</p> 
            </div>
          </div>
        </a> #}


      {%- for work in collections.work | reverse -%}
          <a href="{{ work.data.workUrl | url }}" target="_blank">
            <div class="work-card">
              <div class="work-img">
                <img src="{{ work.data.image | url }}" loading="lazy" width="333" height="177" alt="{{ work.data.imageAlt }}">
              </div>
              <div class="work-content">
                <h1>{{ work.data.title }}</h1>
                <p>{{ work.data.workUrl | urlClean }}</p> 
              </div>
            </div>
          </a>
     {%- endfor  -%}


      </div>

      <a href="http://github.com/singhkunal2050" class="btn-link" >All Projects >> </a>


      <div class="bokey bokey2"></div>

    </section>

    <section class="writing-section">
      
       <h1 class="head_text" style="text-align: center; padding-bottom: 40px;"><span
          class="head_text rainbow">Recent</span> Blogs</h1>

        <div class="blog-list-container ">
          {%- for post in collections.post | reverse -%}
              {% if loop.index0 < 3 %}    
                <a href="{{ post.url | url }}" class="blog-link">
                    <div class="blog-card">
                      <h1 class="blog-title subhead_text">{{ post.data.title}}</h1>
                      <div class="blog-hashtags">
                        {% set comma = joiner() %}
                        {% for tag in post.data.tags -%}
                          {% if tag !== 'post' %}
                            {{ comma() }}
                            <p href="#">#{{ tag }}</p>
                          {% endif %}
                        {%- endfor %}
                      </div>
                      <p class="blog-description">{{post.data.description}}</p>
                      <div class="blog-details">
                        <p class="blog-date">{{ post.data.date | postDate }}</p>
                      </div>
                    </div>
                </a>
              {% endif %}
          {%- endfor  -%}
        </div>

        <a href="/blogs" class="btn-link" >All Blogs >> </a>
        
    </section>


    <section class="tech-stack">

      <h1 class="head_text" style="text-align: center; padding-bottom: 40px;"><span
          class="head_text rainbow">Techno</span>logies</h1>

      <div class="tech-stack-container">

        <img src="img/tech/image 2.png" loading="lazy" height="100" width="100" alt="html">
        <img src="img/tech/image 3.png" loading="lazy" height="100" width="100" alt="css">
        <img src="img/tech/image 4.png" loading="lazy" height="100" width="100" alt="javascript">
        <img src="img/tech/image 5.png" loading="lazy" height="100" width="100" alt="git">
        <img src="img/tech/image 6.png" loading="lazy" height="100" width="100" alt="github">
        <img src="img/tech/image 7.png" loading="lazy" height="100" width="100" alt="terminal">
        <img src="img/tech/image 8.png" loading="lazy" height="100" width="100" alt="react">
        <img src="img/tech/image 9.png" loading="lazy" height="100" width="100" alt="node">
        <img src="img/tech/image 10.png" loading="lazy" height="100" width="100" alt="php">
        <img src="img/tech/image 11.png" loading="lazy" height="100" width="100" alt="wordpress">
        <img src="img/tech/image 12.png" loading="lazy" height="100" width="100" alt="bootstrap">
        <img src="img/tech/image 13.png" loading="lazy" height="100" width="100" alt="netlify">
        <img src="img/tech/image 14.png" loading="lazy" height="100" width="100" alt="sass">
        <img src="img/tech/image 15.png" loading="lazy" height="100" width="100" alt="figma">
        <img src="img/tech/image 16.png" loading="lazy" height="100" width="100" alt="Adobe XD">
        <img src="img/tech/image 17.png" loading="lazy" height="100" width="100" alt="Python">
        <img src="img/tech/image 18.png" loading="lazy" height="100" width="100" alt="django">
        <img src="img/tech/image 19.png" loading="lazy" height="100" width="100" alt="eleventy">
        <img src="img/tech/image 20.png" loading="lazy" height="100" width="100" alt="mysql">
        <img src="img/tech/image 21.png" loading="lazy" height="100" width="100" alt="psql">
        <img src="img/tech/image 22.png" loading="lazy" height="100" width="100" alt="mongo db">
        <img src="img/tech/image 23.png" loading="lazy" height="100" width="100" alt="aws">
        <img src="img/tech/image 24.png" loading="lazy" height="100" width="100" alt="typscript">
        <img src="img/tech/image 32.png" loading="lazy" height="100" width="100" alt="vs code">

      </div>

      <!-- bokey  -->
      <div class="bokey bokey1"></div>
    </section>


    <section class="testimonials">
      <h1 class="head_text" style="text-align: center; padding-bottom: 40px;">Testimo<span
          class="head_text rainbow">nials</span></h1>

      <div class="testimonial-slider">

        <div class="testimonial-slide">
          <img src="./img/quote.svg" alt="">
          <p>You can always trust Kunal to get the job done in time and with quality. He always puts in honest efforts
            and
            provides valuable inputs. He is also very professional during communications.</p>
          <h2 class="subhead_text">Sujit Tope</h2>
          <h4>Colleague</h4>
        </div>

        <div class="testimonial-slide">
          <img src="./img/quote.svg" alt="">
          <p>Want a team player? Kunal is the person u need to look for. He manages to grow and develop skills alongside
            friends in a very efficient manner. Mostly his mentor skills make the magic work since he is indulged in
            teaching the new stuff to his friends which make him a greate team member. Overall he is a very kind person
            who is always ready to share whatever he has and this makes him a good friend of mine..</p>
          <h2 class="subhead_text">Abhishek Waghmare</h2>
          <h4>Fellow Developer</h4>
        </div>

        <div class="testimonial-slide">
          <img src="./img/quote.svg" alt="">
          <p>Kunal is a good friend of mine and a great programmer as well! Always coming up with new ideas and
            projects.
            Carrying out each task with perseverance and encouraging me as well 😄</p>
          <h2 class="subhead_text">Atharva Mahamuni</h2>
          <h4>Fellow Developer</h4>
        </div>


      </div>

      <!-- bokey  -->
      <div class="bokey bokey2"></div>
    </section>

  </div>

  <section class="contact" id="contact">

    <h1 class="head_text" style="text-align: center; padding-bottom: 40px;"><span
        class="head_text rainbow">Con</span>tact</h1>
    <div class="contact-container container">

      {% include "contact-form.njk" %}

    </div>

  </section>


</main>