---
title: Home Page
layout: 'base.njk'
---

<main style="margin-top: 80px;">

  <div class="container">

    <section class="hero">

      <div class="hero-left">
        <h2 class="subhead_text">Hello World <img class="handwave" src="./img/hand-wave.gif" alt=""> <span
            style="display: none;" class="subhead_text rotate">🌎</span></h2>
        <h1 class="head_text long-shadow">I am a <span class="rainbow head_text">Creative</span><br>
          Web Developer 🦄</h1>
        <h3 class="my-title">Kunal Singh</h3>
        <button class="btn btn-primary">Let's Connect</button>
        <button class="btn btn-outline">My Resume</button>
      </div>

      <div class="hero-right">
        <div class="social-box">
          <img class="long-shadow" src="./img/Vector.svg" alt="">
          <img class="long-shadow" src="./img/Vector-1.svg" alt="">
          <img class="long-shadow" src="./img/Vector-2.svg" alt="">
          <img class="long-shadow" src="./img/Vector-3.svg" alt="">
        </div>
      </div>

      <!-- bokey  -->
      <div class="bokey bokey1"></div>

    </section>

    <section class="work">

      <h1 class="head_text" style="text-align: center; padding-bottom: 40px;">Selected Work</h1>

      <div class="work-container">

        <div class="work-card">
          <div class="work-img">
            <img src="./img/work/1.jpg" alt="">
          </div>
          <div class="work-content">
            <h1>UI UX Design School</h1>
            <a href="https://uiuxdesignschool.in/" target="_blank">uiuxdesignschool.in/</a>
          </div>

        </div>

        <div class="work-card">
          <div class="work-img">
            <img src="./img/work/2.jpg" alt="">
          </div>
          <div class="work-content">
            <h1>Internmeets</h1>
            <a href="https://internmeets.com/" target="_blank">internmeets.com/</a>
          </div>

        </div>
        <div class="work-card">
          <div class="work-img">
            <img src="./img/work/3.jpg" alt="">
          </div>
          <div class="work-content">
            <h1>Quick Auto Services</h1>
            <a href="http://www.quickauto.co.in/" target="_blank">quickauto.co.in</a>
          </div>
        </div>
        <div class="work-card">
          <div class="work-img">
            <img src="./img/work/4.jpg" alt="">
          </div>
          <div class="work-content">
            <h1>BrandNeev</h1>
            <a href="https://brandneev.in/" target="_blank">brandneev.in</a>
          </div>
        </div>
        <div class="work-card">
          <div class="work-img">
            <img src="./img/work/5.jpg" alt="">
          </div>
          <div class="work-content">
            <h1>Antriksh Global</h1>
            <a href="https://www.antrikshglobal.com/" target="_blank">antrikshglobal.com</a>
          </div>
        </div>
        <div class="work-card">
          <div class="work-img">
            <img src="./img/work/6.jpg" alt="">
          </div>
          <div class="work-content">
            <h1>Mahendra Solanki Arts</h1>
            <a href="https://mahendrasolankiarts.com/" target="_blank">mahendrasolankiarts.com</a>
          </div>
        </div>


      </div>

      <div class="bokey bokey2"></div>

    </section>

    <section class="tech-stack">

      <h1 class="head_text" style="text-align: center; padding-bottom: 40px;">Technologies</h1>

      <div class="tech-stack-container">

        <img src="img/tech/image 2.png" alt="">
        <img src="img/tech/image 3.png" alt="">
        <img src="img/tech/image 4.png" alt="">
        <img src="img/tech/image 5.png" alt="">
        <img src="img/tech/image 6.png" alt="">
        <img src="img/tech/image 7.png" alt="">
        <img src="img/tech/image 8.png" alt="">
        <img src="img/tech/image 9.png" alt="">
        <img src="img/tech/image 10.png" alt="">
        <img src="img/tech/image 11.png" alt="">
        <img src="img/tech/image 12.png" alt="">
        <img src="img/tech/image 13.png" alt="">
        <img src="img/tech/image 14.png" alt="">
        <img src="img/tech/image 15.png" alt="">
        <img src="img/tech/image 16.png" alt="">
        <img src="img/tech/image 17.png" alt="">
        <img src="img/tech/image 18.png" alt="">
        <img src="img/tech/image 19.png" alt="">
        <img src="img/tech/image 20.png" alt="">
        <img src="img/tech/image 21.png" alt="">
        <img src="img/tech/image 22.png" alt="">
        <img src="img/tech/image 23.png" alt="">
        <img src="img/tech/image 24.png" alt="">
        <img src="img/tech/image 32.png" alt="">

      </div>

    </section>


    <section class="testimonials">
      <h1 class="head_text" style="text-align: center; padding-bottom: 40px;">Testimonials</h1>

      <div class="testimonial-slider">

        <div class="testimonial-slide">
          <img src="./img/quote.svg" alt="">
          <p>You can always trust Kunal to get the job done in time and with quality. He always puts in honest efforts
            and
            provides valuable inputs. He is also very professional during communications.</p>
          <h2 class="subhead_text">Sujit Tope</h2>
          <h4>Colleague</h4>
        </div>

        <div class="testimonial-slide">
          <img src="./img/quote.svg" alt="">
          <p>Want a team player? Kunal is the person u need to look for. He manages to grow and develop skills alongside
            friends in a very efficient manner. Mostly his mentor skills make the magic work since he is indulged in
            teaching the new stuff to his friends which make him a greate team member. Overall he is a very kind person
            who is always ready to share whatever he has and this makes him a good friend of mine..</p>
          <h2 class="subhead_text">Abhishek Waghmare</h2>
          <h4>Fellow Developer</h4>
        </div>

        <div class="testimonial-slide">
          <img src="./img/quote.svg" alt="">
          <p>Kunal is a good friend of mine and a great programmer as well! Always coming up with new ideas and
            projects.
            Carrying out each task with perseverance and encouraging me as well 😄</p>
          <h2 class="subhead_text">Atharva Mahamuni</h2>
          <h4>Fellow Developer</h4>
        </div>


      </div>

    </section>

  </div>

  <section class="contact">

    <h1 class="head_text" style="text-align: center; padding-bottom: 40px;">Contact</h1>
    <div class="contact-container container">

      <form action="">
        <div class="all-input-container">
          <div class="input-container">
            <input type="text">
            <input type="text">
          </div>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <button>Submit</button>
      </form>


    </div>

  </section>


</main>